[submodule "html/wp-content/themes/kremalicious2/assets/fonts/fontawesome"]
	path = html/wp-content/themes/kremalicious2/assets/fonts/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
