/* BASE */

/* apply a natural box layout model to all elements
   http://paulirish.com/2012/box-sizing-border-box-ftw/  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	min-height: 100%; 
	-webkit-font-smoothing: antialiased; 
	font-smoothing: antialiased; 
	text-rendering: optimizeLegibility; 
	background: #eef0f1 url('../texture.png') repeat;
	/*background: url('../24px_grid_bg.gif') 0 1.1875em*/
}

/* DEFAULT FONT SETTINGS */
body, button, input, select, textarea {
	font: 16px/24px 'PT Serif',Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif; 
	color: #2e4f5c;
	text-shadow: 0 1px 0 rgba(255,255,255,.9);
}

p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, img {
	margin: 0 0 1.5em; 
	padding: 0
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: #2e4f5c;

}

/*h1 {margin: 0; font-size: 3.75em; line-height: 1.2em; margin-bottom: 0.4em}*/ /* 60px / 72px */
h1 {margin: 0; font-size: 3em; line-height: 1em; margin-bottom: 0.5em} /* 48px / 48px */
h2 {margin: 0; font-size: 2.25em; line-height: 1.3333333333333333333333333333333em; margin-bottom: 0.6667em} /* 36px / 48px */ 
h3,
#home article h1 {margin: 0; font-size: 1.5em; line-height: 1em; margin-bottom: 1em} /* 24px / 24px */

/*h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #e8d1b8;
	text-shadow: 
		0 1px 0 #a68f78, 
		0 2px 0 #a68f78, 
		0 3px 0 #907d68, 
		0 4px 0 #776757, 
		0 5px 1px rgba(0, 0, 0, .1), 
		0 0 5px rgba(0, 0, 0, .1), 
		0 1px 3px rgba(0, 0, 0, .3), 
		0 3px 5px rgba(0, 0, 0, .2), 
		0 5px 10px rgba(0, 0, 0, .25), 
		0 10px 10px rgba(0, 0, 0, .2), 
		0 20px 20px rgba(0, 0, 0, .15)
}*/

p, ul, blockquote, pre, td, th, label {
	margin: 0; 
	font-size: 1em; 
	line-height: 1.5em; 
	margin-bottom: 1.5em
}


/* LINKS */
a, a:visited {
	text-decoration: none; 
	color: #3a9085;
	
}

article a {
	border-bottom: 1px dashed rgba(94, 81, 66, .3);
}

a:hover {background: #fff; }


/* ICONS */
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols-regular-webfont.eot');
    src: url('websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('websymbols-regular-webfont.woff') format('woff'),
         url('websymbols-regular-webfont.ttf') format('truetype'),
         url('websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon:before {
	font-family: 'WebSymbolsRegular';
	font-weight: normal;
	font-style: normal;
}

.icon-search:before {
	content: "L";
}

/*GRID OVERWRITES*/
.container { padding: 0 4%; }

//.single section[role="main"] { margin: 0 auto; float: none; }

#menubar {
	border-bottom: 1px solid #ccc;
	margin-bottom: 3em;
	margin-top: 0;
}

header[role="banner"] h1 {
	font-size: 1.5em;
	margin: 0;
	padding-top: .47em;
}

nav[role="navigation"] li {
	display: inline;
}

nav[role="navigation"] li a {
	display: inline-block;
	padding: .85em 1em .6em 1em;
}

aside[role="complementary"] {
}

aside[role="complementary"] p {
	
}

article > footer {
	border-top: 1px dashed #afc3cb;
	position: relative;
	padding-top: 1.5em;
}

	article > footer:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		border-top: 1px dashed #fff;
	}
	

/*HOME*/

#home article#latestArticle h1 {
	font-size: 2em;
}

/* media Queries

/* MOBILE PORTRAIT */
@media only screen and (min-width: 320px) {
	body {
		
	}
}

/* MOBILE LANDSCAPE */
@media only screen and (min-width: 480px) {
	body {
		
	}
	
}

/* SMALL TABLET */
@media only screen and (min-width: 600px) {
	body {
		
	}
	
	nav[role="navigation"] li a {
		padding-left: 2em;
		padding-right: 2em;
	}
	
	/* GLOBAL SEARCH */
	
	.assistive-text {
		position: absolute !important;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
	}
	
	#menubar #s {
		float: right;
		-webkit-transition-duration: 400ms;
		-webkit-transition-property: width, background;
		-webkit-transition-timing-function: ease;
		-moz-transition-duration: 400ms;
		-moz-transition-property: width, background;
		-moz-transition-timing-function: ease;
		-o-transition-duration: 400ms;
		-o-transition-property: width, background;
		-o-transition-timing-function: ease;
		width: 72px;
	}
	
	#menubar #s:focus {
		width: 200px;
	}
	
	input#s {
	}
	
	#menubar #searchsubmit {
		display: none;
	}
	
	.post-content { max-width: 35em; }
	
}

@media only screen and (min-width: 768px) { 
	body {
		
	}
	
	.row {
		max-width: 51.5em;
	}
	
	.col1, 
	.col2, 
	.col3, 
	.col4, 
	.col5, 
	.col6,
	.grid2-col2,
	.grid2-col1:first-child {
		padding-right: 2%; }
	
	.col1:last-child, 
	.col2:last-child, 
	.col3:last-child, 
	.col4:last-child, 
	.col5:last-child, 
	.col6:last-child,
	.grid2-col2:last-child,
	.grid2-col1:last-child {
		padding-right: 0; }
	
	
	
}

		
/* LANDSCAPE TABLET/NETBOOK/LAPTOP */
@media only screen and (min-width: 1024px) { 
	body {

	}

}

/* DESKTOP */
@media only screen and (min-width: 1280px) { 

	body {

	}
}

/* WIDESCREEN */
/* Increased body size for legibility */
@media only screen and (min-width: 1400px) { 
	
	body {
		font-size: 116.75%;
	} /* 18.5px / 28px */
	
}