
.pager {
	padding-top: 2em;
	padding-bottom: 2em;
	.clearfix;
	p {
		width: 48%;
		margin: 0;
		position: relative;
		font-size: .95em;
	}
	
	.alignright { text-align: right; }
	
	a { display: block; }
	
	.alignleft i { margin-right: .5em; }
	
	.alignright i { margin-left: .5em; }
	
	.single & .alignleft a { margin-left: 1.5em; }
	
	.single & .alignright a { margin-right: 2em; }
	
	.single & i {
		position: absolute;
		left: 0;
		top: 0;
	}
	
	.single & .alignright i {
		left: auto;
		right: 0;
	}
	
}

/* infinite loading stuff */
.infiniteLoader p {
	width: 100%
}

.infiniteLoader .alignright,
.infiniteLoader i {
	.hide;
}

.infiniteLoader a {
	.btn;
	.btn-block;
}
	

/*	GOODIES POST */
/* ============================================================== */

#goodiesDownload {
	margin: 1em 0 0 0;
	
	p {
		margin-bottom: 1em;
	}
	
	.btn {
		display: block;
		&:before {
			margin-right: .5em;
		}
	}
}



/* ============================================================== */
/*	COMMENTS */
/* ============================================================== */

#comments, #respond, #submit { clear: both; display: block; }

#comments h2, 
#respond h2 {
	text-align: left;
	font-size: 1.625em;
	line-height: 1;
}

#commentShow {
	display: block;
	margin-bottom: 2em;
}

.js #commentShow {
	cursor: pointer;
	padding-left: .6em;
	padding-right: .6em;
}

#commentShow i:before,
#respond i:before {
	color: #a9b7bd;
	color: rgba(46, 79, 92, .4);
	font-size: 24px;
	margin-right: 0;
}

#commentShow .icon-comments {
	margin-right: .5em;
}

#commentShow i[class^="icon-chevron"] {
	float: right;
}

#commentShow.open i[class^="icon-chevron"]:before {
	content: "\f077";
}

ol.commentlist,
ol.commentlist ul.children {
	list-style: none;
}

li.comment {
	padding: 2em 0;
}

.hentry .children .comment {
	padding-left: 4%;
	margin-left: 4%;
	padding-top: 1em;
	padding-bottom: 0;
	margin-top: 1em;
	border-left: 1px dashed #afc3cb;
	border-bottom: none;
	position: relative;
	
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 1px;
		height: 100%;
		border-left: 1px dashed #fff;
	}
	&:before {
		display: none;
	}
	
	header {
		float: right;
		margin-left: 1em;
	}
}

.hentry .comment header {
	margin-bottom: 1em;
}

.comment footer {
	border-top: none;
	border-bottom: none;
	margin: 0;
	padding: 0;
	&:before { display: none; }
}

#leAvatar,
#leAvatar:before,
#leAvatar:after,
#leAvatar img.avatar {
	.border-radius(81px);
}

#leAvatar {
	width: 81px;
	height: 81px;
	display: block;
	margin: 0 auto;
	background-color: #eee;
	#gradient > .vertical(rgba(0,0,0,0), rgba(0,0,0,0.05));
	padding: 6px;
	padding-top: 5px;
	.box-shadow(~"0 1px 0 #fff, 0 -1px 0 rgba(0,0,0,0.4)");
	border: 1px solid #c0d6e0;
	position: relative;
	.transition();
	
	&:before,
	&:after {
		content: "";
		width: 68px;
		height: 68px;
		position: absolute;
		left: 4px;
		top: 4px;
	}

	&:before {
		#gradient > .vertical(rgba(255,255,255,0.4), rgba(255,255,255,0));
		.box-shadow(~"inset 0 1px 0 #fff, inset 0 -1px 7px rgba(0,0,0,.2)");
		border: 1px solid #afc3cb;
	}
	
	&:after {
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(44%,rgba(255,255,255,0.2)), color-stop(45%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
	}
	
}
	
	.comment:hover #leAvatar {
		background-color: #fff;
	}

#leAvatar img.avatar {
	margin: 0;
	.box-shadow(0 1px 2px rgba(0,0,0, .3));
	width: 68px;
	height: 68px;
}

.comment header cite {
	font-style: normal;
	line-height: 1em;
	margin-top: .5em;
	display: block;
}

.comment footer time,
.comment footer a {
	display: inline-block;
}

.comment footer time {
	font-size: .9em;
	float: right;
}

.comment footer time a {
	color: rgba(46, 79, 92, .5);
}

	.comment:hover footer time a {
		color: @linkColorHover;
	}

.comment-reply-link,
.comment-edit-link {
	font-size: 1em;
	padding-top: 0;
	padding-bottom: 0;
	.opacity(0);
}

	.comment:hover .comment-reply-link,
	.comment:hover .comment-edit-link,
	.touch .comment-reply-link,
	.touch .comment-edit-link {
		.opacity(100);
	}

#respond {
	margin: 4em 0;
}

.comments-nav .page-numbers.next {
	float: right;
}

.comments-nav .page-numbers.current {
	padding: .5em 1em;
	font-weight: 700;
}

/* ============================================================== */
/*	SIDEBAR & FOOTER */
/* ============================================================== */

// Site meta components
#siteMeta {
	.divider-top;
	.divider-bottom;
	
	#description {
		margin-bottom: 1.5em;
		font-style: italic;
		color: @textColorLight;
	}
	
	#tweetsWrap {
		.divider-top();
		.clearfix;
		margin: 0;
		padding-top: 2em;
		padding-bottom: 2em;
		#tweets { 
			padding-right: 0;
		}
	}
}

// Subscribe only component
#subscribe {
	h2 {
		font-size: .8em;
		font-family: @baseFontFamily;
		font-weight: @baseFontWeight;
		line-height: @baseLineHeight;
		font-style: italic;
		color: lighten(@textColorDimmed, 10%);
		margin-bottom: .5em;
		margin-top: 0;
	}
	p {
		padding-bottom: 1em;
		margin: 0;
		.clearfix;
		.btn {
			margin-bottom: .5em;
			padding: .3em 1em;
			&:first-child {
				margin-left:0
			}
			&:last-child {
				margin-right: 0;
			}
			span { 
				.visuallyhidden;
			}
		}
		i {
			display: block;
		}
		i:before {
			margin-right: 0;
			font-size: 12px;
		}
	}
}

#tweetsWrap,
#topics {
	margin-bottom: 1.5em;
}

// Tweets area component
#tweetsWrap {
	min-height: 120px;
	#tweets {
		font-size: .85em;
		line-height: 1.6em;
		padding-right: 1em;
		position: relative;
		margin-bottom: 1em;
		ul {
			list-style: none;
			margin-bottom: 0;
			li {
				margin-bottom: 1.5em;
				color: lighten(@textColorDimmed, 5%);
				.transition();
			}
		}
		.tweet_time {
			display: block;
			font-size: .8em;
			font-style: italic;
			margin-top: .2em;
			a {
				color: @textColorDimmed;
			}
		}
	}
}

.home.blog #tweetsWrap {
	display: none;
}

// Copyright component
#siteCopyright {
	.divider-top;
	margin-top: 1.5em;
	padding: 1.5em 0;
	font-size: .8em;
	line-height: 1.6em;
	p {
		margin-bottom: 0.5em;
	}
}

aside[role="complementary"] {
	margin-bottom: 2em;
	h1 a {	
		border: none;
		padding-right: .1em;
		color: @textColorLight;
	}
}

aside[role="complementary"]:hover h1 a,
.touch aside[role="complementary"] h1 a {
	color: @linkColorHover;
}

aside[role="complementary"] #tweetsWrap {
	padding-top: 2em
}

#tweets li:hover a,
#tweets li:hover .tweet_time a,
.touch #tweets li a {
	color: @linkColorHover;
}

footer[role="contentinfo"] {
	margin-top: 3em;
	.single & {
		margin-top: 0;
	}
	.single & #siteMeta {
		.no-divider-bottom
	}
}



/* ============================================================== */
/*	SEARCH RESULTS */
/* ============================================================== */

.search-results .hentry {
	padding: 2em 0;
}

.search-results .hentry header h2 {
	margin-bottom: 0;
}

.search-results aside header h1 ins {
	padding: 0 .2em;
}


/* ============================================================== */
/*	404 */
/* ============================================================== */

.error404 #content .container {
	max-width: 35em;
}

.error404 #content h1 {
	text-align: center;
	font-size: 4em;
	color: rgba(46, 79, 92, .5);
}

.error404 #content #searchform {
	margin: 0;
	float: none;
	margin-bottom: 2em;
	display: block;
	position: relative;
}

.error404 #content #searchform.icon-search::before {
	position: absolute;
	font-size: 32px;
	top: .6em;
	left: .2em;
}

.error404 #content #s {
	font-size: 1.2em;
	padding: 1em .5em 1em 40px;
	margin-bottom: 1em;
}

#searchsubmit {
	clear: both;
}


/* ============================================================== */
/*  Old Article Fixes */
/* ============================================================== */

// text-shadow article
// fluid examples
#post-39 .entry-content > div,
#post-39 .entry-content img {
	max-width: 100%;
	height: auto !important;
	margin-left: 0 !important;
}