/////////////////////////////////////
// BUTTONS CSS FOR KREMALICIOUS.COM
/////////////////////////////////////

.btn {
	font-size: .8em;
	line-height: @baseLineHeight;
	font-family: @headingsFontFamily;
	font-weight: @headingsFontWeight;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	padding: .3em 2em;
	margin-bottom: 1em;
	background: rgba(255,255,255,.1);
	border: 1px solid rgba(94,131,162,.3);
	border-bottom-color: rgba(94,131,162,.4);
	border-radius: 3px;
	.box-shadow(~"0 1px 3px rgba(151,156,159,.1), inset 0 1px 0 #fff, inset 0 0 10px rgba(169,196,219,.3)");
	.transition();
	
	&:hover {
		background: rgba(255,255,255,.5);
	}
		
	&:active {
		background: transparent;
		border-top-color: rgba(94,131,162,.5);
		.box-shadow(0 1px 0 #fff);
		.transition(none);
	}
	
	span {
		font-size: .9em;
		color: rgba(19, 56, 50, .6);
		margin-left: .3em;
	}
}

.btn-tag {
	font-family: @headingsFontFamily;
	font-weight: @headingsFontWeight;
	font-style: normal;
	font-size: @baseFontSize;
	color: @textColorLight;
	text-transform: lowercase;
	
	&:before {
		content: "#";
		color: @textColorDimmed;
	}
}

.btn-primary,
a.btn-primary:visited {
	color: darken(@linkColor, 30%);
	text-shadow: 0 1px 0 rgba(255,255,255,.3);
	background: lighten(@linkColor, 15%);
	border-color: rgba(40,101,93,.4);
	border-bottom-color: rgba(40,101,93,.5);
	.box-shadow(~"0 1px 3px rgba(151,156,159,.1), inset 0 1px 0 rgba(255,255,255,.4)");
	
	&:hover {
		color: darken(@linkColor, 30%);
		background: lighten(@linkColor, 20%);
		text-shadow: 0 1px 0 rgba(255,255,255,.3);
	}
	
	&:active {
		color: darken(@linkColor, 30%);
		background: lighten(@linkColor, 15%);
		border-top-color: rgba(40,101,93,.9);
		.box-shadow(~"0 1px 0 #fff,inset 0 0 18px rgba(43,100,92,.3)");
		.transition(none);
	}

}

.btn-block {
	display: block;
}

// assign default button styles to all this stuff
.inline-download,
.download {
	.btn;
}

a[rel*="tag"],
#topics a {
	.btn-tag;
}

#cancel-comment-reply-link {
	color: #7f2924;
}

// Old Download Button Overwrites
.inline-download:link {
	display: block;
	text-align: center;
	
	&::before {
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		text-decoration: inherit;
		content: "\f019";
		font-size: inherit;
		margin-right: .5em;
		line-height: 1em;
		vertical-align: baseline;
	}

	img {
		display: none;
	}
}


// Socialite.js
// replicate social buttons, but dim everything
.btn.socialite {
	font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
	text-align: left;
	color: #676767;
	text-transform: none;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	height: 21px;
	max-width: 100%;
	position: relative;
	background-color: rgba(255,255,255,.4);
	#gradient > .vertical(rgba(255,255,255,0.7), rgba(255,255,255,0));
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	display: inline-block;
	vertical-align: top;
	padding: 1px 5px;
	.box-shadow(none);
	
	i:before {
		font-size: 12px;
		margin-right: 0;
	}
	
}