// Prevents padding to be added
* {
	.box-sizing(border-box);
}

// 320px and up
.container {
	padding: 0 4%; 		// always 40px/1000px padding on left & right
	width: 100%; }

.col1, .col2, .col3, .col4, .col5, .col6 {
	width: 100%;
	margin-left: 0;
	margin-top: 2em;
	margin-bottom: 2em; }

// clear trick
.container:before, .row:before,
.container:after, .row:after { display: table; content: ""; }
.container:after, .row:after { clear: both; }
.container, .row { *zoom: 1; }

// 480px and up
@media @breakpoint1 {

	// ensures empty columns won't collapse
	.col1,
	.col2,
	.col3,
	.col4,
	.col5,
	.col6 { min-height: 1px; }

}


@media @breakpoint3 {

	.row {
	    max-width: 960px;
	    margin: 1em auto;
	    padding-left: 0;
	    padding-right: 0;
	}

	.col1,
	.col2,
	.col3,
	.col4,
	.col5,
	.col6 {
		float: left;
		margin-left: 4%; }

	.col1:first-child,
	.col2:first-child,
	.col3:first-child,
	.col4:first-child,
	.col5:first-child,
	.col6 { margin-left: 0; }

	.col1 { width: 13%; }		// 150px/1000px
	.col2 { width: 30%; }		// 320px/1000px
	.col3 { width: 48%; }		// 490px/1000px
	.col4 { width: 65%; }		// 660px/1000px
	.col5 { width: 82%; }		// 830px/1000px
	.col6 { width: 100%; }		// 1000px/1000px

}