// --------------------------------------------------
//	COMPONENTS
// --------------------------------------------------


// Grid components
// --------------------------------------------------
.container { 
	max-width: 16em;
	margin-left: auto;
	margin-right: auto;
	
	@media only screen and (min-width: 480px) 	{ max-width: 25em; }
	@media only screen and (min-width: 600px) 	{ max-width: 31.2em; }
	@media only screen and (min-width: 769px) 	{ max-width: 50em; }
}

// Body Background
// --------------------------------------------------
.bodyTexture {
	background: @bodyBackground url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAMCAMAAAC%2B5dbKAAAAQlBMVEXz9%2Fri6e%2Fg5%2B3f5uzh6O7j6vDu9Prr8vjs8%2Fnq8ffp8Pbw9frk6%2FHt9Pro7%2FXl7PLm7fPx9frz9vrv9frn7vTe5eu8h4seAAAAfUlEQVR4Xq3PRw7DUAgE0KH%2F6prc%2F6pBlmUl%2B7AcpMeA4fAaOyoxVezRCvrKik22A5jEy2xMEzgWWUsF3MT0ncuMXqLGWpCznvAWHWFqgZ7OsW9K6bzS8XTKwuQAmoy4HXocGrcz%2FHLuPr2m89unffcJ4DQhvY5k9PT5118fSvoHiNG1QV4AAAAASUVORK5CYII%3D) left top repeat;
}

.bodyTexture_2x {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAYCAMAAACyRD%2B1AAAARVBMVEXm7fPp8Pbs8%2Fnr8vjl7PLq8ffo7%2FXu9Prh6O7i6e%2Fv9frt9Prj6vDn7vTz9%2Frx9frz9vrw9frk6%2FHf5uzy9vrg5%2B3e5evyfvXWAAABbklEQVR4XuWTV3KEQBBDO0wO5PX9j2r1DmtMrcs%2BgOcLBCV1PwRtHOdpjuK91nmZoqecHimTj9MyV%2FWssk7H6l1%2BpNTIOWK8WGIspYjvDgJBdZ0FSqxxhRfRkInynkmXCWeuAc5b0Kq8ISHU2eRFQtuzY1EfSJncRoE9c3d25SXOpeLJ5qgz9GBZATOVKIS5Q0t7ajD%2BOHOGZ287Iho2SSTrUEmlCKzGYRFbmhkRVfhUA2sUNdWT8%2BVAgjLIrMdUtCMnt64FPE4yyzErtZTzZsvyc9pBJhiB%2FpzWDzLFyJgyovLeugwycZDxmO5JBl%2FETuVtTwD2IuOMjCE4yZhf%2BJL5lRW%2Fk2n5BzK5bflGBmY3MrYd297yRaYPMgHyszMXmVtnjtWggvTy3pl66wxkeGLaCL0K%2F9IZts64nzqjfJFhHjB8LchS3Lx1poDMUdjIZBi%2FvsDpeXWmX2S%2Bdabfyfg%2B5HCR%2BR9%2F09%2BdeSfzCRPyICKqHGZuAAAAAElFTkSuQmCC);
	.background-size(23px 12px);
}

// mmmmh, antialiasing
// --------------------------------------------------
.antialiasing {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

// Dimmed Text
// --------------------------------------------------
.dimmed {
	color: @textColorDimmed;
	p { color: @textColorDimmed; }
	li { color: @textColorDimmed; }
}

// Dashed Dividers
// --------------------------------------------------
.divider-top {
	position: relative;
	border-top: 1px dashed #afc3cb;
	padding-top: 1em;
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 1px;
		border-top: 1px dashed #fff;
	}
}
// so we can reset only one item out of multiple
.no-divider-top {
	border-top: none;
	padding-top: 0;
	&::after {
		display: none
	}
}

.divider-bottom {
	position: relative;
	border-bottom: 1px dashed #afc3cb;
	padding-bottom: 1em;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 100%;
		height: 1px;
		border-bottom: 1px dashed #fff;
	}
}
// so we can reset only one item out of multiple
.no-divider-bottom {
	border-bottom: none;
	padding-bottom: 0;
	&::before {
		display: none
	}
}

// Loading Thingy
// --------------------------------------------------
.loading {
	.animation(loadingThingy .2s infinite);
}

@keyframes "loadingThingy" {
 from {
 	.opacity(100)
 }
 to {
 	.opacity(0)
 }

}

@-moz-keyframes loadingThingy {
 from {
 	.opacity(100)
 }
 to {
 	.opacity(0)
 }

}

@-webkit-keyframes "loadingThingy" {
 from {
 	.opacity(100)
 }
 to {
 	.opacity(0)
 }

}

@-ms-keyframes "loadingThingy" {
 from {
 	.opacity(100)
 }
 to {
 	.opacity(0)
 }

}

@-o-keyframes "loadingThingy" {
 from {
 	.opacity(100)
 }
 to {
 	.opacity(0)
 }

}

// --------------------------------------------------
// UTILITIES
// --------------------------------------------------

.clearfix {
  *zoom: 1;
  clear: both;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.fade {
  .opacity(0);
  .transition(opacity .15s linear);
  &.in {
    .opacity(100);
  }
}

// Quick floats
// --------------------------------------------------
.alignleft { float: left; }
.alignright { float: right; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

// Placeholder text
// --------------------------------------------------
.placeholder(@color: @placeholderText) {
  &:-moz-placeholder {
    color: @color;
    font-weight: @baseFontWeight;
  }
  &:-ms-input-placeholder {
    color: @color;
    font-weight: @baseFontWeight;
  }
  &::-webkit-input-placeholder {
    color: @color;
    font-weight: @baseFontWeight;
  }
}

// Toggling content
// --------------------------------------------------
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hide {
	display: none !important; 
	visibility: hidden;
}
.show {
	display: block;
	visibility: visible;
}
// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px;
	// Extends the .visuallyhidden class to allow the 
	// element to be focusable when navigated to via the keyboard: h5bp.com/p
	&.focusable:active, 
	&.focusable:focus { 
		clip: auto; 
		height: auto; 
		margin: 0; 
		overflow: visible; 
		position: static; 
		width: auto;
	}
}
// Hide visually and from screenreaders, but maintain layout
.invisible {
	visibility: hidden;
}
// CSS image replacement
.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}


// --------------------------------------------------
// CSS3 PROPERTIES
// --------------------------------------------------

// Opacity
.opacity(@opacity) {
	     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacity})"; // IE 8
	   -moz-opacity: @opacity / 100;
	 -khtml-opacity: @opacity / 100;
	-webkit-opacity: @opacity / 100;
	        opacity: @opacity / 100;
}

// Border Radius
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
}

// Single Corner Border Radius
.border-top-left-radius(@radius) {
  -webkit-border-top-left-radius: @radius;
      -moz-border-radius-topleft: @radius;
          border-top-left-radius: @radius;
}
.border-top-right-radius(@radius) {
  -webkit-border-top-right-radius: @radius;
      -moz-border-radius-topright: @radius;
          border-top-right-radius: @radius;
}
.border-bottom-right-radius(@radius) {
  -webkit-border-bottom-right-radius: @radius;
      -moz-border-radius-bottomright: @radius;
          border-bottom-right-radius: @radius;
}
.border-bottom-left-radius(@radius) {
  -webkit-border-bottom-left-radius: @radius;
      -moz-border-radius-bottomleft: @radius;
          border-bottom-left-radius: @radius;
}

// Single Side Border Radius
.border-top-radius(@radius) {
  .border-top-right-radius(@radius);
  .border-top-left-radius(@radius);
}
.border-right-radius(@radius) {
  .border-top-right-radius(@radius);
  .border-bottom-right-radius(@radius);
}
.border-bottom-radius(@radius) {
  .border-bottom-right-radius(@radius);
  .border-bottom-left-radius(@radius);
}
.border-left-radius(@radius) {
  .border-top-left-radius(@radius);
  .border-bottom-left-radius(@radius);
}

// Drop shadows
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

// Gradients
#gradient {
	.vertical(@startColor: #555, @endColor: #333) {
		background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
		background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
		background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
		background-image: linear-gradient(top, @startColor, @endColor); // The standard
		background-repeat: repeat-x;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor))); // IE9 and down
	}
	.horizontal(@startColor: #555, @endColor: #333) {
		background-image: -moz-linear-gradient(left, @startColor, @endColor); // FF 3.6+
		background-image: -webkit-gradient(linear, 0 0, 100% 0, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
		background-image: -webkit-linear-gradient(left, @startColor, @endColor); // Safari 5.1+, Chrome 10+
		background-image: -o-linear-gradient(left, @startColor, @endColor); // Opera 11.10
		background-image: linear-gradient(left, @startColor, @endColor); // Le standard
		background-repeat: repeat-x;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@startColor),argb(@endColor))); // IE9 and down
	}
	.directional(@startColor: #555, @endColor: #333, @deg: 45deg) {
		background-repeat: repeat-x;
		background-image: -moz-linear-gradient(@deg, @startColor, @endColor); // FF 3.6+
		background-image: -webkit-linear-gradient(@deg, @startColor, @endColor); // Safari 5.1+, Chrome 10+
		background-image: -o-linear-gradient(@deg, @startColor, @endColor); // Opera 11.10
		background-image: linear-gradient(@deg, @startColor, @endColor); // The standard
	}
	.vertical-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 50%, @endColor: #c3325f) {
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
		background-image: -webkit-linear-gradient(@startColor, @midColor @colorStop, @endColor);
		background-image: -moz-linear-gradient(top, @startColor, @midColor @colorStop, @endColor);
		background-image: -o-linear-gradient(@startColor, @midColor @colorStop, @endColor);
		background-image: linear-gradient(@startColor, @midColor @colorStop, @endColor);
		background-repeat: no-repeat;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor))); // IE9 and down, gets no color-stop at all for proper fallback
	}
	.radial(@innerColor: #555, @outerColor: #333)  {
		background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(@innerColor), to(@outerColor));
		background-image: -webkit-radial-gradient(circle, @innerColor, @outerColor);
		background-image: -moz-radial-gradient(circle, @innerColor, @outerColor);
		background-image: -o-radial-gradient(circle, @innerColor, @outerColor);
		background-repeat: no-repeat;
	}
	.striped(@color, @angle: -45deg) {
		background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
		background-image: -webkit-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
		background-image: -o-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
		background-image: linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
	}
}

// Transitions
.transition(@transition: all .2s ease-in-out 0s) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}
.transition-duration(@duration:.2s) {
	-webkit-transition-duration: @duration;
	   -moz-transition-duration: @duration;
	   	 -o-transition-duration: @duration;
	        transition-duration: @duration;
}
.transition-property(@property: all) {
	-webkit-transition-property: @property;
	   -moz-transition-property: @property;
	     -o-transition-property: @property;
	        transition-property: @property;
}

// Animations
.animation(@animation) {
  -webkit-animation: @animation;
     -moz-animation: @animation;
       -o-animation: @animation;
          animation: @animation;
}
.animation-delay(@delay) {
  -webkit-animation-delay: @delay;
     -moz-animation-delay: @delay;
       -o-animation-delay: @delay;
          animation-delay: @delay;
}

// Transformations
.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
     -moz-transform: rotate(@degrees);
       -o-transform: rotate(@degrees);
          transform: rotate(@degrees);
}
.scale(@ratio) {
  -webkit-transform: scale(@ratio);
     -moz-transform: scale(@ratio);
       -o-transform: scale(@ratio);
          transform: scale(@ratio);
}
.translate(@x, @y) {
  -webkit-transform: translate(@x, @y);
     -moz-transform: translate(@x, @y);
       -o-transform: translate(@x, @y);
          transform: translate(@x, @y);
}
.skew(@x, @y) {
  -webkit-transform: skew(@x, @y);
     -moz-transform: skew(@x, @y);
       -o-transform: skew(@x, @y);
          transform: skew(@x, @y);
}
.translate3d(@x, @y, @z) {
  -webkit-transform: translate(@x, @y, @z);
     -moz-transform: translate(@x, @y, @z);
       -o-transform: translate(@x, @y, @z);
          transform: translate(@x, @y, @z);
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden
// See git pull https://github.com/dannykeane/bootstrap.git backface-visibility for examples
.backface-visibility(@visibility){
	-webkit-backface-visibility: @visibility;
	   -moz-backface-visibility: @visibility;
	        backface-visibility: @visibility;
}

// Background clipping
// Heads up: FF 3.6 and under need "padding" instead of "padding-box"
.background-clip(@clip) {
  -webkit-background-clip: @clip;
     -moz-background-clip: @clip;
          background-clip: @clip;
}

// Background sizing
.background-size(@size){
  -webkit-background-size: @size;
     -moz-background-size: @size;
       -o-background-size: @size;
          background-size: @size;
}


// Box sizing
.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
     -moz-box-sizing: @boxmodel;
          box-sizing: @boxmodel;
}

// User select
// For selecting text on the page
.user-select(@select) {
  -webkit-user-select: @select;
     -moz-user-select: @select;
      -ms-user-select: @select;
       -o-user-select: @select;
          user-select: @select;
}

// Resize anything
.resizable(@direction) {
  resize: @direction; // Options: horizontal, vertical, both
  overflow: auto; // Safari fix
}

// CSS3 Content Columns
.content-columns(@columnCount, @columnGap: @gridGutterWidth) {
  -webkit-column-count: @columnCount;
     -moz-column-count: @columnCount;
          column-count: @columnCount;
  -webkit-column-gap: @columnGap;
     -moz-column-gap: @columnGap;
          column-gap: @columnGap;
}

// Optional hyphenation
.hyphens(@mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: @mode;
     -moz-hyphens: @mode;
      -ms-hyphens: @mode;
       -o-hyphens: @mode;
          hyphens: @mode;
}