@media only screen and (min-width: 40.625em) {
	
	//////////
	// GRID //
	//////////
	
	nav[role="navigation"] {
		.column(12);
	}
	
	body {
		padding-bottom: 50px;
		&:after {
			content: "";
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 50px;
			#gradient > .vertical(rgba(231, 238, 244, 0), rgba(231, 238, 244, 1));
		}
	}
		
	#menubar-wrap {
		background: #b7c1c4;
		background: -moz-linear-gradient(top, #9da8ac 0%, #b7c1c4 21%, #b7c1c4 72%, #9da8ac 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9da8ac), color-stop(21%,#b7c1c4), color-stop(72%,#b7c1c4), color-stop(100%,#9da8ac));
		background: -webkit-linear-gradient(top, #9da8ac 0%,#b7c1c4 21%,#b7c1c4 72%,#9da8ac 100%);
		background: -o-linear-gradient(top, #9da8ac 0%,#b7c1c4 21%,#b7c1c4 72%,#9da8ac 100%);
		background: -ms-linear-gradient(top, #9da8ac 0%,#b7c1c4 21%,#b7c1c4 72%,#9da8ac 100%);
		background: linear-gradient(top, #9da8ac 0%,#b7c1c4 21%,#b7c1c4 72%,#9da8ac 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9da8ac', endColorstr='#9da8ac',GradientType=0 );
		border-bottom: 1px solid #9eaab2;
		.box-shadow(~"0 1px 4px #b7c1c4, inset 0 -1px 0 #c1c8ca");
		padding-top: 6px;
		padding-bottom: 0;
		
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 100%;
			height: 5px;
			background: #d8e2ea;
			border-bottom: 1px solid #6f838b;
			background-color: #d8e2ea;
			background-image: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,.1) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.6) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.4) 74%,rgba(255,255,255,0) 100%);
			background-image: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,.1) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.6) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.4) 74%,rgba(255,255,255,0) 100%);
			background-image: -o-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,.1) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.6) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.4) 74%,rgba(255,255,255,0) 100%);
			background-image: -ms-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,.1) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.6) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.4) 74%,rgba(255,255,255,0) 100%);
			background-image: linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,.1) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.6) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.4) 74%,rgba(255,255,255,0) 100%);
			background-repeat: repeat;
			.background-size(100% 320px);
			.box-shadow(0 1px 4px rgba(111, 131, 139, .8));
		}
		
	}
	
	section[role="document"] { 
		padding-top: 4em;
	}
				
	header[role="banner"] {
		position: absolute;
		top: 0;
		left: 3%;
		z-index: 1;
		width: 12em;
		height: 100%;
		margin-top: 0;
		
		h1 {
			position: absolute;
			left: .3em;
			top: -1px;
			z-index: 0;
			background-color: #d8e2ea;
			#gradient > .vertical(rgba(0,0,0,0), rgba(0,0,0,0.15));
			.box-shadow(~"0 2px 4px rgba(111, 131, 139, .6), inset 0 -1px 0 rgba(255,255,255,.5), inset 1px 0 0 rgba(255,255,255,.7), inset -1px 0 0 rgba(255,255,255,.7)");
			
			border: 1px solid #6f838b;
			border-top: none;
			margin-left: 0;
			width: 100%;
			
			&:before {
				content: "";
				width: 100%;
				height: 109%;
				border-bottom-left-radius: 7px;
				border-bottom-right-radius: 7px;
				position: absolute;
				left: 0;
				top: -6px;
				background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 15%, rgba(255,255,255,0) 23%, rgba(255,255,255,0.2) 51%, rgba(255,255,255,0) 63%, rgba(255,255,255,0.3) 74%, rgba(255,255,255,0) 100%);
				background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(15%,rgba(255,255,255,0.4)), color-stop(23%,rgba(255,255,255,0)), color-stop(51%,rgba(255,255,255,0.2)), color-stop(63%,rgba(255,255,255,0)), color-stop(74%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0)));
				background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
				background: -o-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
				background: -ms-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
				background: linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
				z-index: -1;
			}
			
			a#logo {
				background-position: center 7px;
				display: block;
				.box-shadow(~"inset 0 1px 0 rgba(255,255,255,.9), 0 1px 0 rgba(255,255,255,.9), inset 0 0 8px rgba(0,0,0,.2)");
				border-bottom: 1px solid #8ea8b6;
				border-top: 1px solid #9bb6c3;
				padding: 23px 0;
				
				&:before,
				&:after {
					content: "";
					position: absolute;
					left: 0;
					display: block;
					width: 100%;
					height: 2px;
				}
				
				&:before {
					top: -5px;
					border-top: 1px solid #9bb6c3;
					.box-shadow(inset 0 1px 0 rgba(255,255,255,.7));
				}
				
				&:after {
					bottom: -5px;
					border-bottom: 1px solid #8ea8b6;
					.box-shadow(0 1px 0 rgba(255,255,255,.7));
				}
					
			}
			
		}
	}
	
	nav[role="navigation"] {
		ul {
			.clearfix;
			
			li {
				border-right: 1px solid #a1aeb2;
				border-left: 1px solid rgba(255,255,255,.3);
				display: block;
				float: left;
				margin: 0;
				
				&:first-child {
					.box-shadow(-1px 0 0 #a1aeb2);
				}
				
				&:last-child {
					.box-shadow(1px 0 0 rgba(255,255,255,.3));
				}
				
				a {
					padding: .8em 1em;
					max-height: 100%;
					width: 100%;
					max-width: 100%;
					overflow: visible;
					
					&:hover { background-color: rgba(255,255,255,.1) }
					
					i:before {
						font-size: 16px;
					}
				}
				
				&#home {
					width: 46%;
					margin-bottom: 0;
					display: block;
					// just to get a nice trigger target 
					// for slideup animation
					span {
						display: block;
						position: absolute;
						z-index: 5;
						left: -.3em;
						top: -6px;
						width: 103%;
						height: 170%;
						cursor: pointer;
					}
				}
				&#topicmenu {
					width: 15%;
					
					.dropdown-menu {
						top: 103%;
						left: -1px;
						width: 360%;
						margin-top: -2px;
						background-color: #b7c1c4;
						#gradient > .vertical(#b7c1c4, #9da8ac);
						
						li {
							border: none;
							box-shadow: none;
							a {
								display: block;
								width: 100%;
								padding: .5em .7em
							}
						}
					}
				}
				&#about {
					width: 26%;
				}
			}
		}
		
	}
	
	.dropdown {
		width: auto;
		position: relative;
	}
	
	nav[role="navigation"] li a.dropdown-toggle,
	nav[role="navigation"] li.open a.dropdown-toggle {
	  padding-left: 1em;
	  padding-right: .8em
	}
	
	#menubar #searchform {
		top: .5em;
		
		// the loupe icon
		&:before {
			font-size: 18px;
			color: @headingsColor;
			top: .35em;
		}
		
		input#s {
			background: none;
			border: none;
			.box-shadow(none);
			.border-radius(0);
			
			&:focus {
				width: 280px;
				border-bottom: 1px solid #7c949d;
				background: rgba(255,255,255,.4);
				.box-shadow(0 1px 0 rgba(255,255,255,.5))
			}
		}
	}
	
	#siteMeta {		
		#description,
		#subscribe {
			.column(6);
		}
		#description {
			margin-bottom: 0;
		}
	}
	
	.hentry { 
		padding: 3.5em 0;
		
		.children .comment {
			margin-left: 20%;
			
			header {
				margin-left: 2em;
				margin-right: 0;
			}
		}
		
		.comment header {
			float: left;
			margin-right: 2em;
		}
	}
	
	/* ============================================================== */
	/* WORDPRESS MEDIA */
	/* ============================================================== */
	
	img.alignleft,
	.wp-caption.alignleft { margin: 0 1.5em 1.5em 0; float: left; }
	
	img.alignright,
	.wp-caption.alignright { margin: 0 0 1.5em 1.5em; float: right;	}
	
	.single .photoPostWrap,
	.masonryWrap {
		width: 100%;
		margin-left: 0;
	}
	
	.photoPost figure {
		.box-shadow(~"0 1px 4px rgba(0, 0, 0, 0.1), inset 0 0 30px rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff");
		.transition();
		
		&:before,
		&:after {
			content: "";
			position: absolute;
			z-index: -2;
		}
		
		&:before {
			top: 0;
			bottom: 0;
			left: 10px;
			right: 10px;
			.border-radius( 100px / 10px);
			.box-shadow(0 0 15px rgba(0,0,0,0.3));
		}
	}
	
	#goodiesDownload p {
		width: 49%;
		float: left;
		margin-left: 2%;
		&:first-child {
			margin-left: 0;
		}
	}
		
}