@media only screen and (min-width: 48.063em) {
	
	//////////
	// GRID //
	//////////
	
	section[role="main"],
	.pager,
	#hello .entry-content,
	#work .work-content {
		.column(7.5); // lets just not talk about those comma values
		.push(1);
		float: right;
	}
	
	.page section[role="main"] {
		.column(12);
	}
	
	aside[role="complementary"],
	#hello-blog,
	#work header {
		.column(3.5)
	}
	
	#work {
		header { clear: both; }
		.work-content {
			.no-divider-bottom;
			margin-bottom: 3em;
			a {
				width: 48%;
				float: left;
				&:nth-child(even) { float: right; }
			}
			img {
				margin-top: 0;
			}
		}
	}
	
	.pager {
		.push(4.5);
		.single & {
			.column(12);
			.push(0)
		}
	}
	
	header[role="banner"] {
		width: 25.5%;
		h1 {
			left: .2em;
		}
	}
	
	nav[role="navigation"] {
		ul {
			li {
				&#home {
					width: 30%;
				}
				&#topicmenu {
					max-width: 4em;
				}
			}
		}
	}
	
	#menubar #searchform input#s:focus {
		width: 450px;
	}
	
	// Single only
	.single section[role="main"] {
		.column(12);
		.hentry {
			.row(12);
			header {
				.column(12,12)
			}
			aside.entry-meta {
				.column(3.5,12);
			}
			.entry-content,
			#comments {
				.column(7.5,12);
				.push(1);
				float: right;
			}
			#comments {
				.push(4.5)
			}
		}
		
	}

	.posttype {
		display: inline;
		float: left;
		margin-left: -1.7em;
		
		.format-link & {
			line-height: 1em;
		}
	}
	
	#siteMeta {
		.no-divider-bottom;
		#description,
		#subscribe {
			.column(12);
		}
		#description {
			margin-bottom: 1.5em;
		}
		
	}
	
	.home.blog #tweetsWrap {
		display: block;
	}
	
	footer[role="contentinfo"] {
		
		#siteMeta {
			overflow: hidden;
			
			#description,
			#subscribe,
			#tweetsWrap {
				.column(4.5);
				clear: none;
				.no-divider-top;
			}
			#subscribe {
				clear: left;
				margin-top: 1.5em;
			}
			#tweetsWrap {
				float: right;
				margin-top: -1.5em;
			}
		}
		
		#siteCopyright {
			clear: both;
		}
	}
	
	.btn.btn-block.col2 { width: 30%; float: left; }
	.btn.btn-block.col4,
	.btn.btn-primary.col4 { width: 65%; float: left; }
	
	.hentry header,
	.posttype,
	aside.entry-meta .byline,
	aside.entry-meta .time,
	aside.entry-meta time {
		text-align: left;
	}
	
	.hentry header.featureTitle {
		position: relative;
		
		h1,
		h2 {
			position: absolute;
			left: -3px;
			bottom: 1.5em;
			padding: .2em .4em;
			margin-bottom: 0;
			margin-right: 1em;
			background-color: #d0d9de;
			background-color: rgba(208, 217, 222, .8);
			background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.1) 100%);
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(35%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1)));
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.1) 100%);
			background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.1) 100%);
			background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.1) 100%);
			background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.1) 100%);
			border: 1px solid #6f838b;
			.box-shadow(0 2px 4px rgba(0,0,0,.3));
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			z-index: 0;
			
			&:before {
				content: "";
				width: 100%;
				height: 100%;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				position: absolute;
				left: 0;
				top: 0;
				background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 15%, rgba(255,255,255,0) 23%, rgba(255,255,255,0.2) 51%, rgba(255,255,255,0) 63%, rgba(255,255,255,0.3) 74%, rgba(255,255,255,0) 100%);
				background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(15%,rgba(255,255,255,0.4)), color-stop(23%,rgba(255,255,255,0)), color-stop(51%,rgba(255,255,255,0.2)), color-stop(63%,rgba(255,255,255,0)), color-stop(74%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0)));
				background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
				background: -o-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
				background: -ms-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
				background: linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
				border-top: 1px solid rgba(255,255,255,.7);
				z-index: -1;
			}
			
			.single & {
				font-size: 2.5em;
			}
		}
	}

	/* Comments */
	.hentry .children .comment {
		margin-left: 4%;
		
		header {
			margin-right: 0;
		}
	}
	
	.hentry .comment header {
		text-align: center;
		width: 15%;
		margin-left: -25%;
		float: left;
		margin-bottom: 0;
	}
	
	.no-touch .entry-content pre:hover {
		margin-left: -20%;
		margin-right: -5%;
	}
	
	.blog .masonryWrap,
	.search .masonryWrap {
		padding-top: 0;
	}
	
	.blog .masonryWrap article.format-image:first-child .posttype,
	.search .masonryWrap article.format-image:first-child .posttype {
		width: 100%;
		text-align: left;
		position: absolute;
		top: -.4em;
		margin-top: 0;
	}
	

}