@media only screen and (min-width: 48.063em) {
	
	#menubar,
	section[role="document"],
	footer[role="contentinfo"],
	.pager,
	#hello .entry-content,
	#work .work-content {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.no-touch .entry-content pre:hover {
		margin-left: -20%;
		margin-right: -5%;
	}
}