
		
/* LANDSCAPE TABLET/NETBOOK/LAPTOP */
@media only screen and (min-width: 64.000em) { 
	
	.no-touch .entry-content pre:hover {
		margin-right: -10%;
	}

}

/* DESKTOP */
@media only screen and (min-width: 80.000em) { 

	.no-touch .entry-content pre:hover {
		margin-right: -20%;
	}
	
}

/* WIDESCREEN */
@media only screen and (min-width: 87.500em) { 
	
	body {
		font-size: 125%;
		line-height: 1.6em;
	}
		
	#menubar #searchform input#s:focus {
		width: 540px;
	}
	
}