html {
	// remove tap highlight cause we're using the active styles
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
}

body {
	.bodyTexture;
	
	@media @highDPI {
		.bodyTexture_2x;
	}
}

// Banner
/////////////////////////////////////

.banner {
	text-align: center;
	background: fade(@brand-dark, 5%);
	text-shadow: 0 1px 0 rgba(255,255,255,.7);

	.banner-title { 
		margin-top: 0;
		margin-bottom: @line-height-computed/2;
	}
}

.banner-logo {
	display: block;
	background-position: center center;
	position: relative;
	height: 31px;
	.ir;
	.logo;
	
	@media @highDPI {
		.logo_2x
	}
}

.banner-description {
	font-style: italic;
	color: @text-color-light;
}


// Footer
/////////////////////////////////////

.footer {
	text-align: center;
	background: fade(@brand-dark, 5%);
	
	.footer-copyright {
		.divider-top;
		padding-top: @line-height-computed;
		padding-bottom: @line-height-computed;
		p {
			margin-bottom: 0;
			font-size: @font-size-mini;
		}
	}
}

// Subscribe component
.subscribe {
	.subscribe-title {
		margin-top: 0;
		margin-bottom: @line-height-computed/2;
		color: @text-color-light;
	}
	p {
		padding-bottom: 1em;
		margin: 0;
		.clearfix;
		.btn {
			margin-bottom: .5em;
			padding: .3em 1em;
			&:first-child {
				margin-left:0
			}
			&:last-child {
				margin-right: 0;
			}
			span { 
				.visuallyhidden;
			}
		}
	}
	i {
		display: block;
		
		// Icon resets for color animations
		.transition(color .3s ease-in-out);
		color: @text-color-light;
		&:before {
			color: inherit;
			margin-right: 0;
			font-size: 14px;
			line-height: 14px;
		}
	}
}

footer[role="contentinfo"]:hover #subscribe .rss i,
.touch footer[role="contentinfo"] #subscribe .rss i {
	color: #e15a00;
}

footer[role="contentinfo"]:hover #subscribe .twitter i,
.touch footer[role="contentinfo"] #subscribe .twitter i {
	color: #019ad2;
}

footer[role="contentinfo"]:hover #subscribe .google i,
.touch footer[role="contentinfo"] #subscribe .google i {
	color: #c63b1e;
}

footer[role="contentinfo"]:hover #subscribe .facebook i,
.touch footer[role="contentinfo"] #subscribe .facebook i {
	color: #3b5998;
}