html {
	// remove tap highlight cause we're using the active styles
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
}

body {
	.bodyTexture;
	
	@media @highDPI {
		.bodyTexture_2x;
	}
}

// Banner
/////////////////////////////////////

.banner {
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,.7);
	
	.banner-title { 
		margin-top: 0;
		margin-bottom: @line-height-computed;

		// display toned down logo
		// by default
		.logo;
		
		@media @highDPI {
			.logo_2x
		}
	}
	
	.banner-logo {
		.ir;
		
		// repeat logo
		// but display hover version
		.logo;
		background-position: center bottom;
		width: 127px;
		margin-left: auto;
		margin-right: auto;
	
		@media @highDPI {
			.logo_2x
		}
		
		// hide by default
		opacity: 0;
		// show smooooothly on hover
		&:hover { opacity: 1 }
	}

}

.banner-description {
    .h5;
	color: @text-color-light;
	margin-bottom: @line-height-computed/2;
	padding-bottom: @line-height-computed/2;
	border-bottom: 3px double fade(@brand-grey, 20%);
	position: relative;
	
	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -4px;
		width: 100%;
		height: 1px;
		background: transparent;
		border-bottom: 3px double rgba(255,255,255,.7);
	}
	
}


// Footer
/////////////////////////////////////

.footer {
	text-align: center;
	background: fade(@brand-dark, 5%);
	
	.footer-copyright {
		.divider-top;
		padding-top: @line-height-computed;
		padding-bottom: @line-height-computed;
		p {
			margin-bottom: 0;
			font-size: @font-size-mini;
		}
	}
}

// Subscribe component
.subscribe {
	.subscribe-title {
		margin-top: 0;
		margin-bottom: @line-height-computed/2;
		color: @text-color-light;
	}
	p {
		padding-bottom: 1em;
		margin: 0;
		.clearfix;
		.btn {
			margin-bottom: .5em;
			padding: .3em 1em;
			&:first-child {
				margin-left:0
			}
			&:last-child {
				margin-right: 0;
			}
			span { 
				.visuallyhidden;
			}
		}
	}
	i {
		display: block;
		
		// Icon resets for color animations
		.transition(color .3s ease-in-out);
		color: @text-color-light;
		&:before {
			color: inherit;
			margin-right: 0;
			font-size: 14px;
			line-height: 14px;
		}
	}
}

.footer:hover .subscribe .rss i,
.touch .footer .subscribe .rss i {
	color: #e15a00;
}

.footer:hover .subscribe .twitter i,
.touch .footer .subscribe .twitter i {
	color: #019ad2;
}

.footer:hover .subscribe .google i,
.touch .footer .subscribe .google i {
	color: #c63b1e;
}

.footer:hover .subscribe .facebook i,
.touch .footer .subscribe .facebook i {
	color: #3b5998;
}