
// Accent colors
// -------------------------


// Scaffolding
// -------------------------
@bodyBackground:        #e7eef4;



// Links
// -------------------------
@linkColor:				#3a9085;
@linkColorHover:		lighten(@linkColor, 10%);