
// Accent colors
// -------------------------


// Scaffolding
// -------------------------
@bodyBackground:        #e7eef4;
@textColor:				#4f6068;
@textColorLight:		lighten(@textColor, 15%);
@textColorDimmed:		lighten(@textColorLight, 10%);

// Links
// -------------------------
@linkColor:				#3a9085;
@linkColorHover:		lighten(@linkColor, 10%);


// Typography
// -------------------------

@baseFontSize:          16px;
@baseLineHeight:        25px;
@baseFontWeight: 		400;
@baseFontFamily:        'rooney-web',Georgia,Palatino,'Palatino Linotype',Times,'Times New Roman',serif;

@headingsFontFamily:    'cronos-pro', sans-serif;
@headingsFontWeight:    600;
@headingsColor:         #2e4f5c;

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


@oPixelRatioMQ: ~"only screen and (-o-min-device-pixel-ratio: 3/2)";
// http://www.w3.org/blog/CSS/2012/06/14/unprefix-webkit-device-pixel-ratio/
@minResolutionMQ: ~"only screen and (min-resolution: 1.5dppx)";