// Colors
/////////////////////////////////////

@brand-dark:            #2e4f5c;
@brand-light:           #e7eef4;
@brand-cyan:            #3a9085;
@brand-grey:            #56666e;


// Typography
/////////////////////////////////////

@baseFontSize:          18px;
@baseLineHeight:        28px;
@baseFontWeight: 		300;
@baseFontFamily:        'rooney-web',Georgia,Palatino,'Palatino Linotype',Times,'Times New Roman',serif;
@textColor:				@brand-grey;
@textColorLight:		lighten(@textColor, 15%);
@textColorDimmed:		lighten(@textColorLight, 10%);

@headingsFontFamily:    'brandon-grotesque', sans-serif;
@headingsFontWeight:    500;
@headingsColor:         @brand-dark;


// Scaffolding
/////////////////////////////////////

@bodyBackground:        @brand-light;


// Links
/////////////////////////////////////

@linkColor:				@brand-cyan;
@linkColorHover:		lighten(@linkColor, 10%);


// Responsive breakpoints
/////////////////////////////////////

@breakpoint1:           ~"only screen and (min-width: 30em)";
@breakpoint2:           ~"only screen and (min-width: 40.625em)";
@breakpoint3:           ~"only screen and (min-width: 48.063em)";
@breakpoint4:           ~"only screen and (min-width: 65.000em)";
@breakpoint5:           ~"only screen and (min-width: 1280px)";
@breakpoint6:           ~"only screen and (min-width: 1600px)";


// High dpi media query
/////////////////////////////////////

@highDPI:				~"print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) ";