.hentry {
	.divider-bottom();
	.clearfix();
	padding: 2em 0;
}

	.hentry:first-child,
	.search-results .hentry:first-child {
		padding-top: 0;
	}

.home .hentry p:last-child {
	margin-bottom: 0;
}

.hentry header {
	text-align: center;
	
	h2 { margin-top: 0; }
}

// post category icons
.posttype {
	display: block;
	width: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: @baseLineHeight;
	
	// icon adjustments
	&:before {
		font-size: 20px;
		color: @textColorLight
	}
	
	&:hover:before {
		color: @linkColor
	}
}

.more-link {
	.btn;
	background: none;
	border: none;
	box-shadow: none;
	padding: 0;
	
	&:hover {
		background: none;
	}
}

// SINGLE VIEW

.single .hentry {
	border: none;
	padding-bottom: 0;
	header {
		padding-top: 0;
		padding-bottom: 1em;
		border: none;
	}
}


// Aside Meta
aside.entry-meta {
	.byline,
	.time,
	time {
		font-style: italic;
		text-align: center;
		color: @textColorDimmed;
		font-size: .9em;
		line-height: 1.4em
	}
	.byline {
		margin-bottom: 0;
		
		a {
			display: block;
			font-style: normal;
		}
	}
}

// Footer Meta
footer.entry-meta {
	color: @textColorLight;
	p {
		margin-bottom: 0;
	}
	a {
		margin-bottom: 0
	}
}


// LINK POST

.permalink-link {
	float: right;
}

.format-link header h1,
.format-link header h2 {
	font-size: 1.3em;
}

.single .format-link header h1 {
	font-size: 1.5em
}


// PHOTO POST

.hentry.category-photos {
	text-align: center
}

.photoPost figure,
a.photoPost {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.photoPost figure {
	position: relative;
	padding: .4em;
	background: #fcfeff;
	border: 1px solid rgba(158, 170, 178, .6);
	border-radius: 2px;
	.box-shadow(0 1px 4px rgba(0, 0, 0, 0.1));
	.transition();
}

.photoPost figure img {
	.box-shadow(none);
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

.photoPost figcaption {
	text-align: center;
	margin-bottom: .5em;
	color: rgba(46, 79, 92, .7);
	font-family: @headingsFontFamily;
	font-weight: @headingsFontWeight;
	font-style: normal;
	font-size: .9em
}

a.photoPost {
	max-width: 100%;
}

a.photoPost:hover figure {
	background: #c4e4df;
}

.grid-sizer { width: 100%; }

@media screen and (min-width: 481px) {
  .grid-sizer { width: 50%; }
}

// Single View

.single .photoPostWrap,
.masonryWrap {
	width: 120%;
	margin-left: -10%;
	.clearfix();
}
	
.single .photoPost {
	text-align: center;
}

.single .photoPost figure {
	margin-bottom: 1.5em;
}

.single #photoPostContent.container {
	max-width: 35em;
}

.single #photoPostContent .byline,
.single #photoPostContent .time,
.single #photoPostContent time {
	text-align: center;
}

.single #photoPostContent .col4 {
	width: 100%;
}

#exif {
	font-size: .9em;
	color: #b9c3c9;
	text-align: center;
	margin-bottom: .5em;

	span {
		margin-right: 2em;
	}
}

// holy shit, WordPress!
aside[role="complementary"] br,
#topics br {
	display: none;
}

@media only screen and (min-width: 40.625em) {
	
	.hentry { 
		padding: 3.5em 0;
	}
	
	.photoPost figure {
		.box-shadow(~"0 1px 4px rgba(0, 0, 0, 0.1), inset 0 0 30px rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff");
		.transition();
	}
	
	#goodiesDownload p {
		width: 49%;
		float: left;
		margin-left: 2%;
		&:first-child {
			margin-left: 0;
		}
	}
	
	.btn.btn-block.col2 { width: 30%; float: left; }
	.btn.btn-block.col4,
	.btn.btn-primary.col4 { width: 65%; float: left; }
		
}