/////////////////////////////////////
// LOGIN PAGE CSS FOR KREMALICIOUS.COM
/////////////////////////////////////

@import 'variables.less';
@import 'mixins.less';
@import 'utilities.less';
@import 'buttons.less';

* {
	.box-sizing(border-box);
}

body.login {
	.bodyTexture;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	font-family: @baseFontFamily;
	font-weight: @baseFontWeight;
	color: @textColor;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
}

#login {
	padding-top: 10%;
}

.login h1 a {
	display: none;
}

.login h1 {
	background: url(../img/logo.png) no-repeat center center;
	width: 190px;
	height: 31px;
	margin: 16px auto;
}

.login #nav a,.login #backtoblog a {
	text-decoration: none;
	color: @linkColor !important;
}

#nav {
	display: none;
}

.login form .input {
	background: #fff;
	background: rgba(255,255,255,.4);
	border: 0;
	border-bottom: 1px solid #AFC3CB;
	.box-shadow(0 1px 0 #fff);
	padding: .2em .5em;
	width: 100%;
	border-radius: 0;
	.transition();
}

.login form .input:focus {
	background: rgba(255,255,255,.8);
	border-bottom-color: #78868c;
	outline: none;
}

.wp-core-ui .button.button-large, .wp-core-ui .button-group.button-large .button {
	.btn;
	.btn-primary;
	font-size: 12px;
	line-height: 18px;
	width: 120px;
	display: block;
}

.login form {
	.box-shadow(none);
	border: none;
	background: transparent;
	margin: 1em auto;
	padding: 1em 0;
	position: relative
}

.login label {
	color: @textColorDimmed
}

#login form p.submit {
	float: right
}

.login form .forgetmenot {
	float: left
}

.login #backtoblog {
	clear: both;
	margin: 0;
	padding: 0;
	margin-top: 2em;
	
	a {
		.btn;
		font-size: 12px;
		line-height: 18px;
		width: 100%;
		background: none;
		border: none;
		.box-shadow(none)
	}
}

#login_error, .login .message {
	margin-left: 0;
}

.login .message {
	color: #8a6d3d;
	padding: .5em .8em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
	background-color: #fcf8e3;
	#gradient > .vertical(rgba(0,0,0,0), rgba(0,0,0,0.05));
	border: 1px solid #d7cab9;
	border-radius: 4px;
	.box-shadow(~"0 1px 7px rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.9)");
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

	body.login {
		.bodyTexture_2x;
	}

	.login h1 {
		background-image: url(../img/logo@2x.png);
		.background-size(190px 31px);
	}

}
