html,.wp-dialog {
	background: #e7eef4 url(../img/texture.png) left top repeat;
}

#adminmenuback {
	background: transparent url(../img/fabric_plaid.png) left top repeat;
	
	-webkit-box-shadow: inset -1px 0 10px rgba(0,0,0,.15);
	-moz-box-shadow: inset -1px 0 10px rgba(0,0,0,.15);
	box-shadow: inset -1px 0 10px rgba(0,0,0,.15);
}

#adminmenushadow {
	display: none;
}

#adminmenuback,
#adminmenuwrap {
	border-color: #bbc4cb;
}

#adminmenuwrap {
	background: transparent;
}

body,#wpbody,.form-table .pre {
	color: #2e4f5c;
	text-shadow: 0 1px 0 rgba(255,255,255,.9);
}

@font-face {
	font-family: 'QlassikBoldRegular';
	src: url('../fonts/QlassikBold_TB-webfont.eot');
	src: url('../fonts/QlassikBold_TB-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/QlassikBold_TB-webfont.woff') format('woff'), url('../fonts/QlassikBold_TB-webfont.ttf') format('truetype'), url('../fonts/QlassikBold_TB-webfont.svg#QlassikBoldRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6,.wrap h2,.postbox h3 {
	color: rgba(46, 79, 92, .9);
	font-family: 'QlassikBoldRegular', sans-serif;
	font-weight: normal;
	font-style: normal;
}

.postbox h3 {
	color: rgba(46, 79, 92, .7);
}

h1,.wrap h2 {
	margin: 0;
	font-size: 2.25em;
	line-height: 1em;
	margin-bottom: 0.6667em;
}

h2 {
	font-size: 1.625em;
	line-height: 1;
	margin: 0.8462em 0;
}

h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin: 1em 0;
}

h4 {
	font-size: 1.3em;
}

/*Links*/
a,#adminmenu a,#the-comment-list p.comment-author strong a,#media-upload a.del-link,#media-items a.delete,.plugins a.delete,.ui-tabs-nav a {
	text-decoration: none;
	color: #3a9085;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}

a:hover,
#adminmenu a:hover {
	color: #40a296;
	text-shadow: 0 1px 0 rgba(255,255,255,.9), 0 0 5px rgba(91, 231, 214, .5);
}

textarea,input[type="text"],input[type="password"],input[type="file"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="url"],select,
#titlediv #title {
	background: #fff;
	background: rgba(255,255,255,.4);
	border: 0;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-bottom: 1px solid #AFC3CB;

	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	padding: .5em;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

input:focus,textarea:focus,
#titlediv #title:focus {
	background: rgba(255,255,255,.8);
	border-bottom-color: #78868c;
	outline: none;
}

/*Buttons*/
input.button-primary,
button.button-primary,
a.button-primary,
.button-primary-disabled {
	display: inline-block;
	padding: .5em 3em;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0)));

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	position: relative;
	font-size: 1.1em;
	background-color: #3a9085;
	color: #133832;
	border: 1px solid #3c9e91;
	border-bottom-color: #246059;
	text-shadow: 0 1px 0 rgba(255,255,255,.3);
	-webkit-box-shadow: 0 1px 4px #2e796f, inset 0 1px 0 rgba(255,255,255,.4);
	-moz-box-shadow: 0 1px 4px #2e796f, inset 0 1px 0 rgba(255,255,255,.4);
	box-shadow: 0 1px 4px #2e796f, inset 0 1px 0 rgba(255,255,255,.4);
}

input.button-primary:hover,
button.button-primary:hover,
a.button-primary:hover {
	background-color: #3e9e92;
	color: #133832;
	text-shadow: 0 1px 0 rgba(255,255,255,.3);
	border: 1px solid #3c9e91;
	border-bottom-color: #246059;
}

input.button-primary:active,
button.button-primary:active,
a.button-primary:active {
	background-color: #3a9085;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0)));
	color: #133832;

	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
	border: 1px solid #3c9e91;
	border-bottom-color: #246059;
	top: 1px;

	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,.3), inset 0 -5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,.3), inset 0 -5px 10px rgba(0,0,0,.2);
	box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,.3), inset 0 -5px 10px rgba(0,0,0,.2);
}

input.button-primary-disabled,
button.button-primary-disabled,
a.button-primary-disabled {
	color: #267166 !important;
	background-color: #3a9085 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0))) !important;
}

#adminmenu a.menu-top,.folded #adminmenu li.menu-top,#adminmenu .wp-submenu .wp-submenu-head {
	border-bottom-color: #cbcdcd;
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.current a.menu-top, .folded #adminmenu li.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, #adminmenu .wp-menu-arrow, #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow div {
	background: #2e4f5c;
	border-color: #2e4f5c;
}

#adminmenu .wp-submenu ul {
	background-color: rgba(255,255,255,0.9);
}

#post-body,.widefat {
	background: transparent;
}

.alternate,.alt {
	background: rgba(255,255,255,.5);
}

.widget, #widget-list .widget-top, .postbox, .menu-item-settings,
div.tabs-panel, .wp-tab-panel, ul.category-tabs li.tabs, ul.add-menu-item-tabs li.tabs, .wp-tab-active {
	background: transparent;
}

.widget, #widget-list .widget-top, .postbox, #titlediv, #poststuff .postarea, .stuffbox,
.widefat {
	border: none;
}

.widefat td {
	padding: 15px 7px 5px;
}

.widefat th input {
	margin: 6px 0 0 8px;
}

.widget .widget-top, .postbox h3, .stuffbox h3, .widefat thead tr th, .widefat tfoot tr th, h3.dashboard-widget-title, h3.dashboard-widget-title span, h3.dashboard-widget-title small, .find-box-head, .sidebar-name, #nav-menu-header, #nav-menu-footer, .menu-item-handle, #fullscreen-topbar {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.6)), to(rgba(255,255,255,0)));
}

.widget, .postbox, .stuffbox {
	margin-bottom: 60px;
}

#titlediv #title {
	padding: 8px;
	font-size: 2em;
}

#titlediv #title-prompt-text, #wp-fullscreen-title-prompt-text {
	padding: 15px 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (min-device-pixel-ratio: 1.5) {
	html,.wp-dialog {
	background-image: url(../img/texture@2x.png);

	-webkit-background-size: 23px 12px;
	-moz-background-size: 23px 12px;
	background-size: 23px 12px;
}

}
