
html, .wp-dialog {
	background: #e7eef4 url(../img/texture.png) left top repeat;
}

#adminmenuback {
	background: transparent url(../img/whitey.png) left top repeat;
	box-shadow: inset -1px 0 10px rgba(0,0,0,.15);
}

#adminmenushadow {
	display: none;
}

#adminmenuwrap {
	background: transparent;
}

body, #wpbody, .form-table .pre {
	color: #2e4f5c;
	text-shadow: 0 1px 0 rgba(255,255,255,.9);
}


/*Links*/
a, #adminmenu a, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, .plugins a.delete, .ui-tabs-nav a {
	text-decoration: none; 
	color: #3a9085;
	-webkit-transition: color .3s ease-in-out 0s;
	position: relative;
}

/*Buttons*/

input.button-primary,button.button-primary,a.button-primary,.login .button-primary {
	display: inline-block;
	padding: .5em 3em;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0)));

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	position: relative;
	font-size: 1.1em;
	background-color: #3a9085;
	color: #133832;
	border: 1px solid #3c9e91;
	border-bottom-color: #2e796f;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);

	-webkit-box-shadow: 0 1px 4px #2e796f, inset 0 1px 0 rgba(255,255,255,.6);
	-moz-box-shadow: 0 1px 4px #2e796f, inset 0 1px 0 rgba(255,255,255,.6);
	box-shadow: 0 1px 4px #2e796f, inset 0 1px 0 rgba(255,255,255,.6);
}

input.button-primary:hover,button.button-primary:hover,a.button-primary:hover,.login .button-primary:hover {
	background-color: #3e9e92;
	color: #133832;
	text-shadow: 0 1px 0 rgba(255,255,255,.3);
	border: 1px solid #3c9e91;
}

input.button-primary:active,button.button-primary:active,a.button-primary:active,.login .button-primary:active {
	background-color: #3a9085;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0)));
	color: #133832;

	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
	border: 1px solid #3c9e91;
	top: 1px;

	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,.3), inset 0 -5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,.3), inset 0 -5px 10px rgba(0,0,0,.2);
	box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,.3), inset 0 -5px 10px rgba(0,0,0,.2);
}


#adminmenu a.menu-top, .folded #adminmenu li.menu-top, #adminmenu .wp-submenu .wp-submenu-head {
	border-bottom-color: #bebebe;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (min-device-pixel-ratio: 1.5) {
	
	html, .wp-dialog {
		background-image: url(../img/texture@2x.png);
		-webkit-background-size: 23px 12px;
		-moz-background-size: 23px 12px;
		background-size: 23px 12px;
	}

}