
/* ============================================================== */
/*	BASE */
/* ============================================================== */

html {
	background: #e7eef4;
}

body {
	background: #e7eef4 url(../img/texture.png) left top repeat;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/* DEFAULT FONT SETTINGS */
/* ============================================================== */
body,button,input,select,textarea {
	font: 16px/24px 'PT Serif',Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
	color: #2e4f5c;
	text-shadow: 0 1px 0 rgba(255,255,255,.9);
}

p,blockquote,q,pre,address,hr,code,samp,dl,ol,ul,form,table,fieldset,menu,img {
	margin: 0 0 1.5em;
	padding: 0;
}

/* TYPOGRAPHY */
/* ============================================================== */
@font-face {
	font-family: 'QlassikBoldRegular';
	src: url('../fonts/QlassikBold_TB-webfont.eot');
	src: url('../fonts/QlassikBold_TB-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/QlassikBold_TB-webfont.woff') format('woff'), url('../fonts/QlassikBold_TB-webfont.ttf') format('truetype'), url('../fonts/QlassikBold_TB-webfont.svg#QlassikBoldRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6,
nav[role="navigation"] a,
.btn,
nav a,
.inline-download,
.comment header cite,
.comment-reply-link,
.photoPost figcaption,
a[rel*="tag"],
#topics a,
#cancel-comment-reply-link, 
.comment-edit-link {
	font-family: 'QlassikBoldRegular', sans-serif;
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
	color: #2e4f5c;
}

h1,
.hentry header h2 {
	margin: 0;
	font-size: 2.25em;
	line-height: 1.1111em;
	margin-bottom: 0.6667em;
	margin-top: 0;
}

h2 {
	font-size: 2em; /* 32px */
	line-height: 1.5em; /* 48px */
	margin: 0.75em 0;
}

h3 {
	margin: 0;
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1em;
}

p,ul,blockquote,pre,td,th,label {
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

i {
	color: #a9b7bd;
	color: rgba(46, 79, 92, .4);
}

strong {
	font-weight: 700;
}

/* QUOTES */
/* ============================================================== */
blockquote {
	font-style: italic;
	padding-left: 1em;
	border-left: 2px solid #a9b8bd;
	color: rgba(46, 79, 92, .7);
}

blockquote > p {
	padding: 0;
}

/* LINKS */
/* ============================================================== */
a,
a:visited {
	text-decoration: none;
	color: #3a9085;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	position: relative;
}

a:hover,
h1 a:visited:hover,
h2 a:visited:hover,
h3 a:visited:hover {
	color: #40a296;
	text-shadow: 0 1px 0 rgba(255,255,255,.9), 0 0 5px rgba(91, 231, 214, .5);
}

a:active {
	top: 1px;
}

h1 a,
h2 a,
h3 a,
h1 a:visited,
h2 a:visited,
h3 a:visited {
	color: #2e4f5c;
	border-bottom: 1px dotted rgba(58, 144, 133, .3);
}


/* FORMS & BUTTONS */
/* ============================================================== */

input, textarea {
	background: #fff;
	background: rgba(255,255,255,.3);
	border: 0;
	border-bottom: 1px solid #AFC3CB;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;

	padding: .5em;
	width: 100%;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

	input:focus,
	textarea:focus {
		background: rgba(255,255,255,.7);
		border-bottom-color: #78868c;
		outline: none;
	}

label,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	display: block;
	color: rgba(46, 79, 92, .7);
	margin-bottom: 0;
}

/* infield labels */
.js form p { position: relative; }
.js form p label { position: absolute; top: .5em; left: .5em;}

.btn,
.pager a,
.inline-download,
.download,
.comment-reply-link,
a[rel*="tag"],
#topics a,
#cancel-comment-reply-link,
.comment-edit-link,
#post-nav-single a {
	font-size: 1.1em;
	text-align: center;
	display: inline-block;
	padding: .5em 1em;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -1px 0 #cad1d8;
	-moz-box-shadow: 0 1px 0 #fff, 0 -1px 0 #cad1d8;
	box-shadow: 0 1px 0 #fff, 0 -1px 0 #cad1d8;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0)));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
	border: 2px solid rgba(255,255,255,.3);
	position: relative;

}

.btn-tag,
a[rel*="tag"],
#topics a {
	font-size: .9em;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: none;
	margin-bottom: .5em;
	padding: .1em .8em 0 .8em;
}

.btn:hover,
.pager a:hover,
.comment-reply-link:hover,
a[rel*="tag"]:hover,
#topics a:hover,
.comment-edit-link:hover,
#post-nav-single a:hover {
	background-color: rgba(255,255,255,.2);
}

.btn:active {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
	top: 1px;
}

.btn-primary {
	background-color: #3a9085;
	color: #133832;
	border: 1px solid #3c9e91;
	border-bottom-color: #246059;
	text-shadow: 0 1px 0 rgba(255,255,255,.3);
	-webkit-box-shadow: 0 1px 4px #2e796f, inset 0 1px 0 rgba(255,255,255,.4);
	-moz-box-shadow: 0 1px 4px #2e796f, inset 0 1px 0 rgba(255,255,255,.4);
	box-shadow: 0 1px 4px #2e796f, inset 0 1px 0 rgba(255,255,255,.4);
}


	.btn-primary:hover {
		background-color: #3e9e92;
		color: #133832;
		text-shadow: 0 1px 0 rgba(255,255,255,.3);
	}
	
	.btn-primary:active {
		-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,.3), inset 0 -5px 10px rgba(0,0,0,.2);
		-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,.3), inset 0 -5px 10px rgba(0,0,0,.2);
		box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,.3), inset 0 -5px 10px rgba(0,0,0,.2);
	}

.btn.btn-block {
	display: block;
}

.btn:before {
	margin-right: .5em;
}

.btn span,
.inline-download span {
	font-size: .7em;
	color: rgba(19, 56, 50, .6);
	margin-left: .3em;
}

/* Old Download Button Overwrites */

.inline-download:link {
	display: block;
	text-align: center;
}

	.inline-download:before {
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		text-decoration: inherit;
		content: "\f019";
		font-size: inherit;
		margin-right: .5em;
		line-height: 1em;
		vertical-align: baseline;
	}

.inline-download img {
	display: none;
}

#cancel-comment-reply-link {
	color: #7f2924;
}

/* Hover buttons */
.hoverbuttons {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.hoverbuttons .btn,
.hoverbuttons#topics a,
.hoverbuttons a[rel*="tag"] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: transparent;
}


	.hoverbuttons:hover .btn,
	.touch .hoverbuttons .btn,
	.touch .hoverbuttons#topics a,
	.hoverbuttons#topics:hover a,
	.hoverbuttons:hover a[rel*="tag"] {
		-webkit-box-shadow: 0 1px 0 #fff, 0 -1px 0 #cad1d8;
		-moz-box-shadow: 0 1px 0 #fff, 0 -1px 0 #cad1d8;
		box-shadow: 0 1px 0 #fff, 0 -1px 0 #cad1d8;

		background-image: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0)));
		background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
		background-image: -o-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
		background-image: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
		background-image: linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
	}
	
	.hoverbuttons .btn:hover,
	.hoverbuttons#topics a:hover {
		background-color: rgba(255,255,255,.2);
	}

/* IMAGES */
/* ============================================================== */

img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	border-top: 1px solid rgba(255,255,255,.5);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.3);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.3);
	box-shadow: 0 2px 4px rgba(0,0,0,.3);

}


::-moz-selection { background: #2e4f5c; color: #fff; text-shadow: none; }
::selection { background: #2e4f5c; color: #fff; text-shadow: none; }

/* GRID OVERWRITES */
/* ============================================================== */
.container { padding: 0 2em; }

.row { 
	max-width: 20em;
	margin-left: auto;
	margin-right: auto;
}
	

/* ============================================================== */
/*	HEADER */
/* ============================================================== */

#menubar-wrap {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 6px;
	background: #b7c1c4;
	background: -moz-linear-gradient(top, #9da8ac 0%, #b7c1c4 21%, #b7c1c4 72%, #9da8ac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9da8ac), color-stop(21%,#b7c1c4), color-stop(72%,#b7c1c4), color-stop(100%,#9da8ac));
	background: -webkit-linear-gradient(top, #9da8ac 0%,#b7c1c4 21%,#b7c1c4 72%,#9da8ac 100%);
	background: -o-linear-gradient(top, #9da8ac 0%,#b7c1c4 21%,#b7c1c4 72%,#9da8ac 100%);
	background: -ms-linear-gradient(top, #9da8ac 0%,#b7c1c4 21%,#b7c1c4 72%,#9da8ac 100%);
	background: linear-gradient(top, #9da8ac 0%,#b7c1c4 21%,#b7c1c4 72%,#9da8ac 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9da8ac', endColorstr='#9da8ac',GradientType=0 );
	border-bottom: 1px solid #9eaab2;
	box-shadow: 0 1px 4px #b7c1c4, inset 0 -1px 0 #c1c8ca;
}

	#menubar-wrap:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 5px;
		background-color: #d8e2ea;
		background-image: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 23%, rgba(255,255,255,0.6) 51%, rgba(255,255,255,0) 63%, rgba(255,255,255,0.4) 74%, rgba(255,255,255,0) 100%);
		background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(15%,rgba(255,255,255,1)), color-stop(23%,rgba(255,255,255,0)), color-stop(51%,rgba(255,255,255,0.6)), color-stop(63%,rgba(255,255,255,0)), color-stop(74%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0)));
		background-image: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.6) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.4) 74%,rgba(255,255,255,0) 100%);
		background-image: -o-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.6) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.4) 74%,rgba(255,255,255,0) 100%);
		background-image: -ms-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.6) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.4) 74%,rgba(255,255,255,0) 100%);
		background-image: linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.6) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.4) 74%,rgba(255,255,255,0) 100%);
		
		background-repeat: repeat;
		-webkit-background-size: 100% 320px;
		-moz-background-size: 100% 320px;
		background-size: 100% 320px;
		
		border-bottom: 1px solid #6f838b;
		-webkit-box-shadow: 0 1px 4px rgba(111, 131, 139, .8);
		-moz-box-shadow: 0 1px 4px rgba(111, 131, 139, .8);
		box-shadow: 0 1px 4px rgba(111, 131, 139, .8);

	}

#menubar {
	position: relative;
}

header[role="banner"] {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin-top: -30%;
	z-index: 1;
}

header[role="banner"] h1 {
	font-size: 1.5em;
	position: absolute;
	left: 0;
	top: -1px;
	background-color: #d8e2ea;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.15)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
	border: 1px solid #6f838b;
	border-top: none;
	-webkit-box-shadow: 0 2px 4px rgba(111, 131, 139, .6), inset 0 -1px 0 rgba(255,255,255,.5), inset 1px 0 0 rgba(255,255,255,.7), inset -1px 0 0 rgba(255,255,255,.7);
	-moz-box-shadow: 0 2px 4px rgba(111, 131, 139, .6), inset 0 -1px 0 rgba(255,255,255,.5), inset 1px 0 0 rgba(255,255,255,.7), inset -1px 0 0 rgba(255,255,255,.7);
	box-shadow: 0 2px 4px rgba(111, 131, 139, .6), inset 0 -1px 0 rgba(255,255,255,.5), inset 1px 0 0 rgba(255,255,255,.7), inset -1px 0 0 rgba(255,255,255,.7);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: .6em 0 .4em 0;
	margin-bottom: 0;
	width: 100%;
	z-index: 0;
}

	header[role="banner"] h1:before {
		content: "";
		width: 100%;
		height: 109%;
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		position: absolute;
		left: 0;
		top: -6px;
		background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 15%, rgba(255,255,255,0) 23%, rgba(255,255,255,0.2) 51%, rgba(255,255,255,0) 63%, rgba(255,255,255,0.3) 74%, rgba(255,255,255,0) 100%);
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(15%,rgba(255,255,255,0.4)), color-stop(23%,rgba(255,255,255,0)), color-stop(51%,rgba(255,255,255,0.2)), color-stop(63%,rgba(255,255,255,0)), color-stop(74%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0)));
		background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
		background: linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
		z-index: -1;
	}

#logo {
	display: block;
	background: url(../img/logo.png) no-repeat center 14px;
	min-height: 41px;
	padding: 8px 0 5px 0;
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	box-sizing: content-box; 
	border-top: 1px solid #9bb6c3;
	border-bottom: 1px solid #8ea8b6;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.9), 0 1px 0 rgba(255,255,255,.7), inset 0 0 8px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.9), 0 1px 0 rgba(255,255,255,.7), inset 0 0 8px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.9), 0 1px 0 rgba(255,255,255,.7), inset 0 0 8px rgba(0,0,0,.2);
	position: relative;
}
	
	#logo:before,
	#logo:after {
		content: "";
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
	}
	
	#logo:before {
		top: -5px;
		border-top: 1px solid #9bb6c3;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.9);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.9);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.9);
	}
	
	#logo:after {
		bottom: -5px;
		border-bottom: 1px solid #8ea8b6;
	
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.7);
		-moz-box-shadow: 0 1px 0 rgba(255,255,255,.7);
		box-shadow: 0 1px 0 rgba(255,255,255,.7);
	}


nav[role="navigation"],
#searchform {
	margin-bottom: 0;
	margin-right: 0;
}

nav[role="navigation"] li {
	display: block;
	float: left;
}

nav[role="navigation"] li a {
	display: block;
	padding: .7em 1.5em .6em 1.5em;
	color: #2e4f5c;
	text-align: center;
}

nav[role="navigation"] li a:hover {
	background: rgba(255,255,255,.1);
}

nav[role="navigation"] i {
	color: #2e4f5c;
}

nav[role="navigation"] li#home {
	width: 100%;
	margin-bottom: .5em;
}


/* GLOBAL SEARCH */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

#menubar #searchform {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: .4em .5em;
}


	#menubar #searchform:before {
		position: absolute;
		display: block;
		left: .6em;
		top: .4em;
		font-size: 20px;
	}

#menubar #searchform input#s {
	width: 10px;
	float: right;
	padding-left: 24px;
	background: transparent;
	border-bottom-color: transparent;
	position: relative;
	z-index: 2;
	padding: .1em 0 .1em 24px;

	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.3);
	box-shadow: 0 1px 0 rgba(255,255,255,.3);
}

#menubar #searchform #s:focus {
	width: 320px;
	background: #fff;
	background: rgba(255,255,255,.6);
	border: 0;
	border-bottom: 1px solid #AFC3CB;

	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.5);
	box-shadow: 0 1px 0 rgba(255,255,255,.5);
	padding-right: .5em;
}

#menubar #searchform #searchsubmit {
	display: none;
}


/* ============================================================== */
/*	CONTENT */
/* ============================================================== */

#content {
	margin-top: 0;
	padding-top: 2em;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(40%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 100%);
	background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=0 );
	-webkit-background-size: 100% 10em;
	-moz-background-size: 100% 10em;
	background-size: 100% 10em;
	
	background-repeat: no-repeat;
	
	word-wrap: break-word;
}



/* ============================================================== */
/*	PRIMARY CONTENT */
/* ============================================================== */

#main { }


/* ============================================================== */
/*	POSTS */
/* ============================================================== */

article.hentry {
	clear: both;
	padding: 2em 0;
}

	.hentry:first-child,
	.search-results .hentry:first-child {
		padding-top: 0;
	}
	
.home .hentry p:last-child {
	margin-bottom: 0;
}

.hentry header {
	text-align: center;
}

.hentry header h2 {
	margin-top: 0;
}

.more-link {
	display: block;
}

.more-link i {
	margin-left: .2em;
	font-size: .9em;
}


/*	SINGLE VIEW */
/* ============================================================== */

.single .hentry {
	border: none;
	padding-bottom: 1.5em;
}

.single .hentry header {
	padding-top: 0;
	padding-bottom: 0;
	border: none;
}

.pager {
	margin: 2em 0;
	clear: both;
}

.hentry footer {
	margin: 4em 0 1.5em 0;
	padding: .5em 0 .3em 0;
}

.hentry footer p:last-child {
	margin-bottom: 0;
}

.byline {
	text-align: center;
	font-style: italic;
}

.byline a {
	display: block;
	font-style: normal;
}

#meta p {
	margin-bottom: 0;
	float: left;
	width: 33%;
}

#meta a[rel*="tag"] {
	font-size: 1em;
}

#share .btn {
	padding: .1em .3em;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	background: transparent;
}

#share i {
	color: #95a6ae;
}

#pubdate {
	font-size: .9em;
	text-align: center;
}

#topic {
	text-align: right;
}

#post-nav-single p {
	width: 48%;
	margin: 0;
	position: relative;
	font-size: .95em;
}

#post-nav-single i {
	position: absolute;
	left: .7em;
	top: .6em;
}

#post-nav-single .alignright {
	text-align: right;
}

#post-nav-single .alignleft a {
	padding-left: 1.5em;
}

#post-nav-single .alignright a {
	padding-right: 1.5em;
}

#post-nav-single .alignright i {
	left: auto;
	right: .7em;
}

/* FontAwesome Extensions for Category Buttons */

a[rel^="category "]:before {
	margin-right: .5em;
	color: #a9b8bd;
}

.cat-design:before 		{ content: "\f06c"; }
.cat-goodies:before 	{ content: "\f06b"; }
.cat-personal:before 	{ content: "\f007"; }
.cat-photos:before 		{ content: "\f03e"; }
.cat-photography:before { content: "\f083"; }
.cat-links:before 		{ content: "\f02e"; }


/*	POST FORMATS & TYPES */
/* ============================================================== */

.posttype {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: .6em;
	line-height: 1.5em;
}

.posttype a {
	color: #a9b8bd;
	display: inline-block;
}

.hentry:hover .posttype a,
.touch .posttype a {
	color: #3a9085;
}


/*	LINK POST */
/* ============================================================== */

h1 i.icon-external-link,
h2 i.icon-external-link {
	font-size: .6em;
	color: #a9b8bd;
	margin-left: .3em;
}

h1 a:hover i.icon-external-link,
h2 a:hover i.icon-external-link {
	color: #2e4f5c;
}

.more-link i.icon-external-link {
	font-size: .8em;
}

.permalink-link {
	float: right;
}

/*	PHOTO POST */
/* ============================================================== */

.photoPost figure,
a.photopost {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.photoPost figure {
	position: relative;
	padding: .4em;
	background: #fcfeff;
	border: 1px solid rgba(158, 170, 178, .6);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), inset 0 0 30px rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), inset 0 0 30px rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), inset 0 0 30px rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;

}
	
	.photoPost figure:before,
	.photoPost figure:after {
		content: "";
		position: absolute;
		z-index: -2;
	}
	
	.photoPost figure:before {
		top: 0;
		bottom: 0;
		left: 10px;
		right: 10px;
		-webkit-border-radius: 100px / 10px;
		-moz-border-radius: 100px / 10px;
		border-radius: 100px / 10px;
		-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 0 15px rgba(0,0,0,0.3);
		box-shadow: 0 0 15px rgba(0,0,0,0.3);

	}

.photoPost figure img {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

.photoPost figcaption {
	text-align: center;
	margin-bottom: .5em;
	color: rgba(46, 79, 92, .7);
}

a.photoPost {
	max-width: 100%;
}

a.photoPost:hover figure {
	background: #c4e4df;
}

/* Single View */

.single .photoPostWrap,
.masonryWrap {
	width: 120%;
	margin-left: -10%;
}

.single .photoPost {
	margin: 0 auto;
	display: inline-table;
}

.single .photoPost figure {
	margin-bottom: 1.5em;
}

.single #photoPostContent.row {
	max-width: 35em;
}

.single #photoPostContent .byline {
	text-align: center;
}

.single #photoPostContent .col4 {
	width: 100%;
}

/* some filter magic for photo single view */
body.single-format-image {
	-webkit-filter: invert();
}

body.single-format-image .photoPostWrap {
	-webkit-filter: invert(); /* invert the invert for the actual photo */
}

#exif {
	font-size: .9em;
	color: #b9c3c9;
	text-align: center;
	margin-bottom: .5em;
}

	#exif span {
		margin-right: 2em;
	}

/* Masonry Layout for Stream & Archive */

.masonryWrap article.hentry {
	width: 48%;
	float: left;
	clear: none;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: .7em;
	margin-top: 0;
	margin-left: 1%;
	margin-right: 1%;
	border: none;
}

	.masonryWrap article.hentry:before {
		display: none;
	}

.masonryWrap article.hentry:last-child {
	margin-bottom: 3em;
}

/* Stream View */

.blog .masonryWrap {
	margin-top: 3em;
	padding-top: 2.15em;
}

.blog .masonryWrap article.format-image + article.format-image .posttype {
	display: none;
}

.blog .masonryWrap article.format-image:first-child .posttype {
	width: 200%;
	float: none;
	text-align: center;
	margin-top: -2.15em;
}

/* Photo Archives */



/*	GOODIES POST */
/* ============================================================== */

#goodiesDownload {
	margin: 1em 0 0 0;
}

#goodiesDownload p {
	margin-bottom: 1em;
}

#goodiesDownload .btn {
	display: block;
}

#goodiesDownload .btn:before {
	margin-right: .5em;
}

/* ============================================================== */
/*	COMMENTS */
/* ============================================================== */

#comments, #respond, #submit { clear: both; display: block; }

#commentShow {
	display: block;
	margin: 2em 0;
	text-align: left;
	font-size: 1.625em;
	line-height: 1;
}

.js #commentShow {
	cursor: pointer;
}

#commentShow i {
	color: #a9b7bd;
	color: rgba(46, 79, 92, .4);
}

#commentShow .icon-comments {
	margin-right: .5em;
}

#commentShow i[class^="icon-chevron"] {
	float: right;
}

#commentShow.open i[class^="icon-chevron"]:before {
	content: "\f077";
}

ol.commentlist,
ol.commentlist ul.children {
	list-style: none;
}

li.comment {
	padding: 2em 0;
}

.hentry .children .comment {
	padding-left: 4%;
	margin-left: 4%;
	padding-top: 1em;
	padding-bottom: 0;
	margin-top: 1em;
	border-left: 1px dashed #afc3cb;
	border-bottom: none;
	position: relative;
}

	.hentry .children .comment:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 1px;
		height: 100%;
		border-left: 1px dashed #fff;
	}

	.hentry .children .comment:before {
		display: none;
	}

.hentry .children .comment header {
	float: right;
	margin-left: 1em;
}

.hentry .comment header {
	margin-bottom: 1em;
}

.comment footer {
	border-top: none;
	border-bottom: none;
	margin: 0;
	padding: 0;
}

	.comment footer:before { display: none;	}

#leAvatar,
#leAvatar:before,
#leAvatar:after,
#leAvatar img.avatar {
	border-radius: 81px;
}

#leAvatar {
	width: 81px;
	height: 81px;
	display: block;
	margin: 0 auto;
	background-color: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.05)));
	padding: 6px;
	padding-top: 5px;
	box-shadow: 0 1px 0 #fff, 0 -1px 0 rgba(0,0,0,0.4);
	border: 1px solid #c0d6e0;
	position: relative;
	-webkit-transition: background .3s ease-in-out 0s;
}

	#leAvatar:before,
	#leAvatar:after {
		content: "";
		width: 68px;
		height: 68px;
		position: absolute;
		left: 4px;
		top: 4px;
	}

	#leAvatar:before {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0)));
		box-shadow: inset 0 1px 0 #fff, inset 0 -1px 7px rgba(0,0,0,.2);
		border: 1px solid #afc3cb;
	}
	
	#leAvatar:after {
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(44%,rgba(255,255,255,0.2)), color-stop(45%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
	}
	
	.comment:hover #leAvatar {
		background-color: #fff;
	}

#leAvatar img.avatar {
	margin: 0;
	box-shadow: 0 1px 2px rgba(0,0,0, .3);
}

.comment header cite {
	font-style: normal;
	line-height: 1em;
	margin-top: .5em;
	display: block;
}

.comment footer time,
.comment footer a {
	display: inline-block;
}

.comment footer time {
	font-size: .9em;
	float: right;
}

.comment footer time a {
	color: rgba(46, 79, 92, .5);
}

	.comment:hover footer time a {
		color: #40A296;
	}

.comment-reply-link,
.comment-edit-link {
	font-size: 1em;
	padding-top: 0;
	padding-bottom: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

	.comment:hover .comment-reply-link,
	.comment:hover .comment-edit-link {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
	}
	
	.touch .comment-reply-link,
	.touch .comment-edit-link {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
	}

#respond {
	margin: 4em 0;
}

.comments-nav .page-numbers.next {
	float: right;
}

.comments-nav .page-numbers.current {
	padding: .5em 1em;
	font-weight: 700;
}

/* ============================================================== */
/*	SIDEBAR */
/* ============================================================== */

aside[role="complementary"] {
	margin-bottom: 2em;
}

aside[role="complementary"] h1 a {
	color: #a9b8bd;
	border: none;
	padding-right: .1em;
}

	aside[role="complementary"]:hover h1 a,
	.touch aside[role="complementary"] h1 a {
		color: #40A296;
	}

#topics {
	margin-bottom: 1.5em;
}

#tweets li,
#tweets a {
	color: #95a6ae;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#tweets li:hover a {
	color: #40A296;
}

#tweets {
	font-size: .9em;
	padding-right: 1em;
	position: relative;
}

#tweets ul {
	list-style: none;
}

#tweets li {
	margin-bottom: 1.5em;
}

.tweet_time {
	display: block;
	font-size: .8em;
	font-style: italic;
}

	
/* ============================================================== */
/*	FOOTER */
/* ============================================================== */

#content-info { }

p#copyright {  }


/* ============================================================== */
/*	SEARCH RESULTS */
/* ============================================================== */

.search-results .hentry {
	padding: 2em 0;
}

.search-results .hentry header h2 {
	margin-bottom: 0;
}


/* ============================================================== */
/*	404 */
/* ============================================================== */

.error404 #content .row {
	max-width: 35em;
}

.error404 #content h1 {
	text-align: center;
	font-size: 4em;
	color: rgba(46, 79, 92, .5);
}

.error404 #content #searchform {
	margin: 0;
	float: none;
	margin-bottom: 2em;
	display: block;
	position: relative;
}

.error404 #content #searchform.icon-search::before {
	position: absolute;
	font-size: 32px;
	top: .6em;
	left: .2em;
}

.error404 #content #s {
	font-size: 1.2em;
	padding: 1em .5em 1em 40px;
	margin-bottom: 1em;
}

#searchsubmit {
	clear: both;
}

/* ============================================================== */
/* UNIVERSAL STUFF */
/* ============================================================== */

.dimmed {
	color: #95a6ae;
}

/* universal divider classes */
.divider-top {
	position: relative;
	border-top: 1px dashed #afc3cb;
	padding-top: 1em;
}

	.divider-top:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 1px;
		border-top: 1px dashed #fff;
	}

.divider-bottom {
	position: relative;
	border-bottom: 1px dashed #afc3cb;
	padding-bottom: 1em;
}

	.divider-bottom:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 100%;
		height: 1px;
		border-bottom: 1px dashed #fff;
	}


/* ============================================================== */
/*  WordPress Generated Classes 
    See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes */
/* ============================================================== */

.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignleft { margin: 0 20px 20px 0; float: left; }
.alignright { margin: 0 0 20px 20px; float: right; }

.wp-smiley {
	display: inline;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin: 0;
	vertical-align: baseline;
}

/*holy shit, WordPress!*/
aside[role="complementary"] br,
#topics br {
	display: none;
}


/* ============================================================== */
/*  ALERTS */
/* ============================================================== */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
      -ms-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	color: #8a6d3d;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
	background-color: #fcf8e3;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
	border: 1px solid #d7cab9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 7px rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.9);
	-moz-box-shadow: 0 1px 7px rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.9);
	box-shadow: 0 1px 7px rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.9);
}

.alert-heading {
	color: inherit;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.alert-success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #b5c6a8;
}

.alert-danger,
.alert-error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #dcc5ca;
}

.alert-info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #a6ced8;
}

.alert-block {
	padding-top: 14px;
	padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
	margin-bottom: 0;
}

.alert-block p + p {
	margin-top: 5px;
}

/* ============================================================== */
/*	TWITTER BOOTSTRAP TOOLTIP */
/* ============================================================== */

.tooltip {
	position: absolute;
	z-index: 1020;
	display: block;
	visibility: visible;
	padding: 5px;
	font-size: 12px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity .2s ease-in-out 0s;
	-moz-transition: opacity .2s ease-in-out 0s;
	-o-transition: opacity .2s ease-in-out 0s;
	-ms-transition: opacity .2s ease-in-out 0s;
	transition: opacity .2s ease-in-out 0s;
}
.tooltip.in {
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.tooltip.top {
  margin-top: -2px;
}
.tooltip.right {
  margin-left: 2px;
}
.tooltip.bottom {
  margin-top: 2px;
}
.tooltip.left {
  margin-left: -2px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #183030;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #183030;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #183030;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #183030;
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #ffffff;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 11px;
	text-shadow: 0 1px 0 #000;
	text-align: center;
	text-decoration: none;
	background: #2e4f5c;
	background: -moz-linear-gradient(top, #2e4f5c 0%, #183030 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e4f5c), color-stop(100%,#183030));
	background: -webkit-linear-gradient(top, #2e4f5c 0%,#183030 100%);
	background: -o-linear-gradient(top, #2e4f5c 0%,#183030 100%);
	background: -ms-linear-gradient(top, #2e4f5c 0%,#183030 100%);
	background: linear-gradient(top, #2e4f5c 0%,#183030 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e4f5c', endColorstr='#183030',GradientType=0 );
	border: 1px solid #2e4f5c;
	border-bottom-color: #183030;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 -1px 3px rgba(0,0,0,.3), 0 1px 5px rgba(0,0,0,.3), 0 -2px 8px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 -1px 3px rgba(0,0,0,.3), 0 1px 5px rgba(0,0,0,.3), 0 -2px 8px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 -1px 3px rgba(0,0,0,.3), 0 1px 5px rgba(0,0,0,.3), 0 -2px 8px rgba(0,0,0,.2);

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}


/* ============================================================== */
/* Pretty Code */
/* Rainbow v1.1.8 rainbowco.de */
/* ============================================================== */

pre, code {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	color: #333;
	background: #f8f8f8;
	background: rgba(255,255,255,.6);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	line-height: 18px;
}

pre {
	padding: .5em;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	border: 1px solid #c9d7e4;
	word-wrap: break-word;
	margin-bottom: 1.5em;
	
	box-shadow: 0 1px 3px #fff, inset 0 1px 7px rgba(0,0,0,.1);

	display: block;
	width: auto;
	overflow: auto;
	max-height: 600px;
	white-space: pre;
	word-wrap: normal;
	
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}

code {
    border: 1px solid #eaeaea;
    font-size: 12px;
}

pre code {
    border: 0px;
    padding: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: none;
}

pre:hover {
	background: #fff;
	background: rgba(255,255,255,.85);
}

	.no-touch .entry-content pre:hover {
		margin-left: -10%;
		margin-right: -10%;
	}

pre .comment {
    color: #998;
}

pre .support {
    color: #0086B3;
}

pre .tag, pre .tag-name {
    color: navy;
}

pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
    font-weight: bold;
}

pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
    color: #333;
}

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    font-weight: normal;
    color: #099;
}

pre .entity.class {
    color: #458;
}

pre .entity.id, pre .entity.function {
    color: #900;
}

pre .attribute, pre .variable {
    color: teal;
}

pre .string, pre .support.value  {
    font-weight: normal;
    color: #d14;
}

pre .regexp {
    color: #009926;
}

/* ============================================================== */
/*	ANIMATIONS */
/* ============================================================== */


#home a {
	width: 100%;
	position: relative;
}

/* just to get a nice trigger target */
#home span {
	display: block;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.bannerSlideUp {
	-webkit-animation: bannerSlideUp .2s alternate ease-out forwards 0s;
	-moz-animation: bannerSlideUp .2s alternate ease-out forwards 0s;
	-ms-animation: bannerSlideUp .2s alternate ease-out forwards 0s;
	-o-animation: bannerSlideUp .2s alternate ease-out forwards 0s;
	animation: bannerSlideUp .2s alternate ease-out forwards 0s;
}

.bannerFallDown {
	-webkit-animation: bannerFallDown .3s alternate ease-out forwards 0s;
	-moz-animation: bannerFallDown .3s alternate ease-out forwards 0s;
	-ms-animation: bannerFallDown .3s alternate ease-out forwards 0s;
	-o-animation: bannerFallDown .3s alternate ease-out forwards 0s;
	animation: bannerFallDown .3s alternate ease-out forwards 0s;
}

/* jQuery Masonry */
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

@keyframes bannerSlideUp {
 from {
    -webkit-transform: translateY(0);
   	-moz-transform: translateY(0);
   	-o-transform: translateY(0);
   	-ms-transform: translateY(0);
   	transform: translateY(0);
 }
 to {
    -webkit-transform: translateY(-82px);
   	-moz-transform: translateY(-82px);
   	-o-transform: translateY(-82px);
   	-ms-transform: translateY(-82px);
   	transform: translateY(-82px);
 }

}

@-moz-keyframes bannerSlideUp {
 from {
   -moz-transform: translateY(0);
   transform: translateY(0);
 }
 to {
   -moz-transform: translateY(-82px);
   transform: translateY(-82px);
 }

}

@-webkit-keyframes bannerSlideUp {
 from {
   -webkit-transform: translateY(0);
   transform: translateY(0);
 }
 to {
   -webkit-transform: translateY(-82px);
   transform: translateY(-82px);
 }

}

@-ms-keyframes bannerSlideUp {
 from {
   -ms-transform: translateY(0);
   transform: translateY(0);
 }
 to {
   -ms-transform: translateY(-82px);
   transform: translateY(-82px);
 }

}

@-o-keyframes bannerSlideUp {
 from {
   -o-transform: translateY(0);
   transform: translateY(0);
 }
 to {
   -o-transform: translateY(-82px);
   transform: translateY(-82px);
 }

}

@keyframes bannerFallDown {
 0% {
    -webkit-transform: translateY(-82px);
   	-moz-transform: translateY(-82px);
   	-o-transform: translateY(-82px);
   	-ms-transform: translateY(-82px);
   	transform: translateY(-82px);
 }
 50% {
    -webkit-transform: translateY(0);
   	-moz-transform: translateY(0);
   	-o-transform: translateY(0);
   	-ms-transform: translateY(0);
   	transform: translateY(0);
 }
 80% {
    -webkit-transform: translateY(-10px);
   	-moz-transform: translateY(-10px);
   	-o-transform: translateY(-10px);
   	-ms-transform: translateY(-10px);
   	transform: translateY(-10px);
 }
 100% {
    -webkit-transform: translateY(0);
   	-moz-transform: translateY(0);
   	-o-transform: translateY(0);
   	-ms-transform: translateY(0);
   	transform: translateY(0);
 }

}

@-moz-keyframes bannerFallDown {
 0% {
   -moz-transform: translateY(-82px);
   transform: translateY(-82px);
 }
 50% {
   -moz-transform: translateY(0);
   transform: translateY(0);
 }
 80% {
   -moz-transform: translateY(-10px);
   transform: translateY(-10px);
 }
 100% {
   -moz-transform: translateY(0);
   transform: translateY(0);
 }

}

@-webkit-keyframes bannerFallDown {
 0% {
   -webkit-transform: translateY(-82px);
   transform: translateY(-82px);
 }
 50% {
   -webkit-transform: translateY(0);
   transform: translateY(0);
 }
 80% {
   -webkit-transform: translateY(-10px);
   transform: translateY(-10px);
 }
 100% {
   -webkit-transform: translateY(0);
   transform: translateY(0);
 }

}

@-ms-keyframes bannerFallDown {
 0% {
   -ms-transform: translateY(-82px);
   transform: translateY(-82px);
 }
 50% {
   -ms-transform: translateY(0);
   transform: translateY(0);
 }
 80% {
   -ms-transform: translateY(-10px);
   transform: translateY(-10px);
 }
 100% {
   -ms-transform: translateY(0);
   transform: translateY(0);
 }

}

@-o-keyframes bannerFallDown {
 0% {
   -o-transform: translateY(-82px);
   transform: translateY(-82px);
 }
 50% {
   -o-transform: translateY(0);
   transform: translateY(0);
 }
 80% {
   -o-transform: translateY(-10px);
   transform: translateY(-10px);
 }
 100% {
   -o-transform: translateY(0);
   transform: translateY(0);
 }

}



/* ============================================================== */
/*	MEDIA QUERIES */
/* ============================================================== */


@media only screen and (min-width: 480px) {

	.row { max-width: 25em; }
	
	#topic { text-align: right; }
	
	#menubar #searchform #s:focus {
		width: 390px;
	}

}

@media only screen and (min-width: 600px) {

	#content { padding-top: 5em; }
	
	.row { max-width: 33.8em; }
	
	article.hentry { padding: 3.5em 0; }
	
	.hentry .children .comment {
		margin-left: 20%;
	}
	
	.hentry .comment header {
		float: left;
		margin-right: 2em;
	}
	
	.hentry .children .comment header {
		margin-left: 2em;
		margin-right: 0;
	}
	
	header[role="banner"] {
		width: 15em;
		height: 150%;
		margin-top: 0;
	}
	
	header[role="banner"] h1 {
		padding-bottom: .7em;
	}
	
	#logo {
		background-position: center 8px;
	}
	
	#home span {
		height: 170%;
	}
	
	nav[role="navigation"] li {
		border-right: 1px solid #a1aeb2;
		border-left: 1px solid rgba(255,255,255,.3);
	}
	
		nav[role="navigation"] li:first-child {
			-webkit-box-shadow: -1px 0 0 #a1aeb2;
			-moz-box-shadow: -1px 0 0 #a1aeb2;
			box-shadow: -1px 0 0 #a1aeb2;
		}
		
		nav[role="navigation"] li:last-child {
			-webkit-box-shadow: 1px 0 0 rgba(255,255,255,.3);
			-moz-box-shadow: 1px 0 0 rgba(255,255,255,.3);
			box-shadow: 1px 0 0 rgba(255,255,255,.3);
		}
	
	nav[role="navigation"] li a {
		padding: .6em 1.5em .6em 1.5em;
	}
	
	nav[role="navigation"] li#home,
	#home a {
		width: 16em;
		margin-bottom: 0;
	}
	
	#menubar #searchform {
		bottom: .2em;
	}
	
	#menubar #searchform #s:focus {
		width: 280px;
	}
	
	.single .photoPostWrap,
	.masonryWrap {
		width: 100%;
		margin-left: 0;
	}
	
	#goodiesDownload p {
		width: 49%;
		float: left;
		margin-left: 2%;
	}
	
	#goodiesDownload p:first-child {
		margin-left: 0;
	}
	
}

/*using 769px here so iPad/portrait gets different view from landscape*/
@media only screen and (min-width: 769px) { 

	.row { max-width: 51.5em; }
	
	.col1, 
	.col2, 
	.col3, 
	.col4, 
	.col5, 
	.col6 {
		padding-right: 2%; }
	
	.col1:last-child,
	.col2:last-child,
	.col3:last-child,
	.col4:last-child,
	.col5:last-child,
	.col6:last-child {
		padding-right: 0; }
	
	nav[role="navigation"] li#home,
	#home a {
		width: 17em;
	}
	
	.hentry header {
		text-align: left;
	}
	
	.posttype {
		text-align: left;
	}
	
	.featureTitle {
		position: relative;
	}
	
	.featureTitle h1,
	.featureTitle h2 {
		position: absolute;
		left: -3px;
		bottom: 1.5em;
		padding: .2em .4em;
		margin-bottom: 0;
		margin-right: 1em;
		background-color: #d0d9de;
		background-color: rgba(208, 217, 222, .8);
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.1) 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(35%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1)));
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.1) 100%);
		background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.1) 100%);
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.1) 100%);
		background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.1) 100%);
		border: 1px solid #6f838b;
		-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.3);
		-moz-box-shadow: 0 2px 4px rgba(0,0,0,.3);
		box-shadow: 0 2px 4px rgba(0,0,0,.3);

		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		z-index: 0;
	}
	
		.featureTitle h1:before,
		.featureTitle h2:before {
			content: "";
			width: 100%;
			height: 100%;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			position: absolute;
			left: 0;
			top: 0;
			background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 15%, rgba(255,255,255,0) 23%, rgba(255,255,255,0.2) 51%, rgba(255,255,255,0) 63%, rgba(255,255,255,0.3) 74%, rgba(255,255,255,0) 100%);
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(15%,rgba(255,255,255,0.4)), color-stop(23%,rgba(255,255,255,0)), color-stop(51%,rgba(255,255,255,0.2)), color-stop(63%,rgba(255,255,255,0)), color-stop(74%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0)));
			background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
			background: -o-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
			background: -ms-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
			background: linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 15%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 63%,rgba(255,255,255,0.3) 74%,rgba(255,255,255,0) 100%);
			border-top: 1px solid rgba(255,255,255,.7);
			z-index: -1;
		}
	
	.single .featureTitle h1,
	.single .featureTitle h2 {
		font-size: 2.5em;
	}
		
	.byline { text-align: left; }
	
	/* Comments */
	.hentry .children .comment {
		margin-left: 4%;
	}
	
	.hentry .comment header {
		text-align: center;
		width: 15%;
		margin-left: -25%;
		float: left;
		margin-bottom: 0;
	}
	
	.hentry .children .comment header {
		margin-right: 0;
	}
	
	.no-touch .entry-content pre:hover {
		margin-left: -20%;
		margin-right: -5%;
	}
	
	#menubar #searchform #s:focus {
		width: 450px;
	}
	
	.blog .masonryWrap .col5 {
		width: 100%;
		margin: 0;
	}
	
	.blog .masonryWrap article.format-image:first-child .posttype {
		width: 100%;
		text-align: left;
	}

}

		
/* LANDSCAPE TABLET/NETBOOK/LAPTOP */
@media only screen and (min-width: 1024px) { 
	
	.no-touch .entry-content pre:hover {
		margin-right: -10%;
	}

}

/* DESKTOP */
@media only screen and (min-width: 1280px) { 

	.no-touch .entry-content pre:hover {
		margin-right: -20%;
	}
	
}

/* WIDESCREEN */
@media only screen and (min-width: 1400px) { 
	
	body {
		font-size: 116.75%;
	}
	
	.row { max-width: 52.85em; }
	
	#menubar #searchform #s:focus {
		width: 540px;
	}
	
}

/* ========================================== */
/* high pixel ratio devices   */
/* ========================================== */

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  	
  	html {
  		background-image: url(../img/texture@2x.png);
		-webkit-background-size: 23px 12px;
		-moz-background-size: 23px 12px;
		background-size: 23px 12px;
  	}
  	
	#logo {	
		background-image: url(../img/logo@2x.png);
		-webkit-background-size: 188px 41px;
		-moz-background-size: 188px 41px;
		background-size: 188px 41px;
	}
  
}


